
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><a href="#">主页</a> <span class="divider">/</span></li>
				<li class="active">默认页面</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->

	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">

		<div class="span5">
			
			<div class="widget green">
				<div class="widget-title">
					<h4>
						<i class="icon-calendar"></i> Draggable Events
					</h4>
				</div>
				
				<div class="widget-body">
					<div id='external-events'>
						<div class='external-event label'>My Event 1</div>
						<div class='external-event label'>My Event 2</div>
						<div class='external-event label'>My Event 3</div>
						<div class='external-event label'>My Event 4</div>
						<div class='external-event label'>My Event 5</div>
						<div class='external-event label'>My Event 6</div>
						<div class='external-event label'>My Event 7</div>
						<div class='external-event label'>My Event 8</div>
						<div class='external-event label'>My Event 9</div>
						<div class='external-event label'>My Event 10</div>
						<p>
							<input type='checkbox' id='drop-remove' /> remove after drop
						</p>
					</div>
				</div>
			</div>
			
            <div class="widget red">
                <img alt="捐助" src="${cxt!}/files/images/alipay.jpg" style="width: 300px;">
                <img alt="捐助" src="${cxt!}/files/images/wechat.jpg" style="width: 300px;">
            </div>
            
		</div>

		<div class="span7 responsive" data-tablet="span7 fix-margin" data-desktop="span7">
			<!-- BEGIN CALENDAR PORTLET-->
			<div class="widget yellow">
				<div class="widget-title">
					<h4>
						<i class="icon-calendar"></i> 日历
					</h4>
					<span class="tools"> 
						<a href="javascript:;" class="icon-chevron-down"></a> 
						<a href="javascript:;" class="icon-remove"></a>
					</span>
				</div>
				
				<div class="widget-body">
					<div id="calendar" class="has-toolbar"></div>
				</div>
			</div>
			<!-- END CALENDAR PORTLET-->
			
			<br>
			<button class="btn btn-large btn-success" type="button" onclick="window.open('${cxt!}/jsfile/ueditor/index.jsp');">ueditor富文本编辑示例</button>
            <button class="btn btn-large btn-success" type="button" onclick="window.open('${cxt!}/jsfile/webuploader/index.jsp');">webuploader文件上传示例</button>
            <button class="btn btn-large btn-success" type="button" onclick="window.open('${cxt!}/jsfile/webuploader/slice.jsp');">webuploader文件分片上传示例</button>
			<br>
			
		</div>
		
	</div>
	<!-- END PAGE CONTENT-->

</div>
<!-- END PAGE CONTAINER-->
