
<div class="form-group">
	<label class="col-sm-2 control-label">主键</label>
	<div class="col-sm-7">
		<input type="text" name="job.ids" value="job.ids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">发布开始时间</label>
	<div class="col-sm-7">
		<input type="text" name="job.startdate" value="job.startdate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">发布截止时间</label>
	<div class="col-sm-7">
		<input type="text" name="job.enddate" value="job.enddate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">职位类别 : 字典配置</label>
	<div class="col-sm-7">
		<input type="text" name="job.type" value="job.type" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">工作年限 : 字典进行配置</label>
	<div class="col-sm-7">
		<input type="text" name="job.year" value="job.year" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">学历 : 字典配置</label>
	<div class="col-sm-7">
		<input type="text" name="job.education" value="job.education" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">薪水 : 字典配置</label>
	<div class="col-sm-7">
		<input type="text" name="job.salary" value="job.salary" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">工作地点 : 字典配置</label>
	<div class="col-sm-7">
		<input type="text" name="job.address" value="job.address" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">工作性质 : 0全职， 1兼职</label>
	<div class="col-sm-7">
		<input type="text" name="job.nature" value="job.nature" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">管理经验 : 0要求， 1不要求</label>
	<div class="col-sm-7">
		<input type="text" name="job.manage" value="job.manage" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">招聘人数 : 字典配置</label>
	<div class="col-sm-7">
		<input type="text" name="job.quantity" value="job.quantity" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">内容主键</label>
	<div class="col-sm-7">
		<input type="text" name="job.contentids" value="job.contentids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

