
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">xxx</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/operator');">xxx</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					xxxx
				</div>
			</div>
			
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
					
					<div class="form-group">
						<label class="col-sm-2 control-label">主键</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.ids">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">发布开始时间</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.startdate">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">发布截止时间</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.enddate">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">职位类别 : 字典配置</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.type">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">工作年限 : 字典进行配置</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.year">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">学历 : 字典配置</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.education">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">薪水 : 字典配置</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.salary">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">工作地点 : 字典配置</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.address">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">工作性质 : 0全职， 1兼职</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.nature">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">管理经验 : 0要求， 1不要求</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.manage">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">招聘人数 : 字典配置</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.quantity">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">内容主键</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="job.contentids">
						</div>
					</div>
					
				</form>
			</div>
		
		</div>
	</div>
</div>	
