
<div class="form-group">
	<label class="col-sm-2 control-label">主键</label>
	<div class="col-sm-7">
		<input type="text" name="photogallery.ids" value="photogallery.ids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">作者</label>
	<div class="col-sm-7">
		<input type="text" name="photogallery.author" value="photogallery.author" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">来源</label>
	<div class="col-sm-7">
		<input type="text" name="photogallery.source" value="photogallery.source" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">来源url</label>
	<div class="col-sm-7">
		<input type="text" name="photogallery.url" value="photogallery.url" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">标题图</label>
	<div class="col-sm-7">
		<input type="text" name="photogallery.titlepicture" value="photogallery.titlepicture" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">标题图路径</label>
	<div class="col-sm-7">
		<input type="text" name="photogallery.titlepicturepath" value="photogallery.titlepicturepath" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">内容主键</label>
	<div class="col-sm-7">
		<input type="text" name="photogallery.contentids" value="photogallery.contentids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

