<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="JFinalUI" version="3.0">
	
	<display-name>JFinalUI</display-name>
	
	<welcome-file-list>
		<welcome-file>/login</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>400</error-code>
		<location>/view/error/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/view/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/view/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/view/error/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/view/error/exception.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/view/error/exception.jsp</location>
	</error-page>
	
	<!-- URL 缓存 -->
	<filter>
		<filter-name>pageCacheFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/jf/ca/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<!-- Druid 数据源查看 -->
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<init-param>
			<param-name>resetEnable</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	
	<!-- JFinal -->
	<filter>
		<filter-name>JFinal</filter-name>
		<filter-class>com.jfinal.core.JFinalFilter</filter-class>
		<init-param>
			<param-name>configClass</param-name>
			<param-value>little.ant.pingtai.run.JfinalConfig</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JFinal</filter-name>
		<url-pattern>/jf/*</url-pattern>
	</filter-mapping>
	
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.4bu4.com</taglib-uri>
			<taglib-location>/WEB-INF/tld/bu.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/jstl-c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/jstl-fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
			<taglib-location>/WEB-INF/tld/jstl-fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/tld/jstl-sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/tld/jstl-x.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<description>
				Special property group for JSP Configuration HTML
				example.
			</description>
			<display-name>JSPConfiguration</display-name>
			<url-pattern>*.html</url-pattern>
			<el-ignored>true</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude></include-prelude>
			<include-coda></include-coda>
		</jsp-property-group>
	</jsp-config>
	
</web-app>