<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="JFinalUIB" version="3.0">
	
	<display-name>JFinalUIB</display-name>
	
	<context-param>
        <param-name>log4j_init_path</param-name>
        <param-value>\WEB-INF\classes\log4j.properties</param-value>
    </context-param>
	<context-param>
        <param-name>log4j_file_path</param-name>
        <param-value>\WEB-INF\log\</param-value>
    </context-param>
    
   	<!-- 平台初始化 -->
	<listener>
		<listener-class>little.ant.pingtai.listener.InitListener</listener-class>
	</listener>
	
	<!-- Log4j在线查看 -->
	<servlet>  
    	<servlet-name>log4j</servlet-name>  
    	<servlet-class>little.ant.pingtai.servlet.Log4j</servlet-class>
    	<async-supported>true</async-supported>
 	</servlet>
	<servlet-mapping>
		<servlet-name>log4j</servlet-name>
		<url-pattern>/se/log4j</url-pattern>
	</servlet-mapping>
	
	<!-- 验证码 -->
	<servlet>  
    	<servlet-name>authImg</servlet-name>  
    	<servlet-class>little.ant.pingtai.servlet.AuthImg</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>authImg</servlet-name>
		<url-pattern>/se/authImg</url-pattern>
	</servlet-mapping>
	
	<!-- Druid 数据源查看 -->
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<init-param>
			<param-name>resetEnable</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	
	<!-- URL 缓存 -->
	<filter>
		<filter-name>pageCacheFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/jf/ca/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<!-- JFinal -->
	<filter>
		<filter-name>JFinal</filter-name>
		<filter-class>com.jfinal.core.JFinalFilter</filter-class>
		<init-param>
			<param-name>configClass</param-name>
			<param-value>little.ant.pingtai.run.JfinalConfig</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JFinal</filter-name>
		<url-pattern>/jf/*</url-pattern>
	</filter-mapping>
	
</web-app>