
<div class="form-group">
	<label class="col-sm-2 control-label">主键</label>
	<div class="col-sm-7">
		<input type="text" name="template.ids" value="template.ids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">乐观锁</label>
	<div class="col-sm-7">
		<input type="text" name="template.version" value="template.version" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">创建人</label>
	<div class="col-sm-7">
		<input type="text" name="template.createuser" value="template.createuser" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">创建时间</label>
	<div class="col-sm-7">
		<input type="text" name="template.createdate" value="template.createdate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">最后修改人</label>
	<div class="col-sm-7">
		<input type="text" name="template.updateuser" value="template.updateuser" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">最后修改时间</label>
	<div class="col-sm-7">
		<input type="text" name="template.updatedate" value="template.updatedate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">是否删除</label>
	<div class="col-sm-7">
		<input type="text" name="template.isdelete" value="template.isdelete" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">删除人</label>
	<div class="col-sm-7">
		<input type="text" name="template.deleteuser" value="template.deleteuser" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">删除时间</label>
	<div class="col-sm-7">
		<input type="text" name="template.deletedate" value="template.deletedate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">模板名称</label>
	<div class="col-sm-7">
		<input type="text" name="template.name" value="template.name" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">模板内容</label>
	<div class="col-sm-7">
		<input type="text" name="template.content" value="template.content" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">模板类型</label>
	<div class="col-sm-7">
		<input type="text" name="template.type" value="template.type" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">应用目标Ids</label>
	<div class="col-sm-7">
		<input type="text" name="template.targetids" value="template.targetids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

