<script type="text/javascript">

	/*************************
	*	modals.js 国际化
	**************************/
	var i18n_modals_common_close = '${i18nMap["admin.common.close"]}';
	var i18n_modals_common_determine = '${i18nMap["admin.common.determine"]}';
	var i18n_modals_department_radio = '${i18nMap["admin.department.radio"]}';
	var i18n_modals_department_checkbox = '${i18nMap["admin.department.checkbox"]}';
	var i18n_modals_department_userTree = '${i18nMap["admin.department.userTree"]}';
	var i18n_modals_dict_radio = '${i18nMap["admin.dict.radio"]}';
	var i18n_modals_param_radio = '${i18nMap["admin.param.radio"]}';
	var i18n_modals_module_radio = '${i18nMap["admin.module.radio"]}';
	var i18n_modals_station_radio = '${i18nMap["admin.station.radio"]}';
	var i18n_modals_station_checkbox = '${i18nMap["admin.station.checkbox"]}';
	var i18n_modals_station_operatorTree = '${i18nMap["admin.station.operatorTree"]}';
	var i18n_modals_user_radio = '${i18nMap["admin.user.radio"]}';
	var i18n_modals_user_checkbox = '${i18nMap["admin.user.checkbox"]}';
	var i18n_modals_menu_operatorTree = '${i18nMap["admin.menu.operatorTree"]}';
	var i18n_modals_menu_edit = '${i18nMap["admin.menu.edit"]}';
	var i18n_modals_role_operatorTree = '${i18nMap["admin.role.operatorTree"]}';
	var i18n_modals_role_select = '${i18nMap["admin.role.select"]}';
	var i18n_modals_group_select = '${i18nMap["admin.group.select"]}';
	
	/*************************
	*	common.js 国际化
	**************************/
	var i18n_common_splitPage_altogether = '${i18nMap["admin.js.common.splitPage.altogether"]}';
	var i18n_common_splitPage_jump = '${i18nMap["admin.js.common.splitPage.jump"]}';
	var i18n_common_splitPage_jumpPage = '${i18nMap["admin.js.common.splitPage.jumpPage"]}';
	var i18n_common_splitPage_next = '${i18nMap["admin.js.common.splitPage.next"]}';
	var i18n_common_splitPage_noJump = '${i18nMap["admin.js.common.splitPage.noJump"]}';
	var i18n_common_splitPage_perPage = '${i18nMap["admin.js.common.splitPage.perPage"]}';
	var i18n_common_splitPage_previous = '${i18nMap["admin.js.common.splitPage.previous"]}';
	var i18n_common_splitPage_records = '${i18nMap["admin.js.common.splitPage.records"]}';
	var i18n_common_splitPage_strip = '${i18nMap["admin.js.common.splitPage.strip"]}';

	/*************************
	*	utils.js 国际化
	**************************/
	var i18n_utils_msg_atLeast = '${i18nMap["admin.js.utils.msg.atLeast"]}';
	var i18n_utils_msg_bit = '${i18nMap["admin.js.utils.msg.bit"]}';
	var i18n_utils_msg_end = '${i18nMap["admin.js.utils.msg.end"]}';
	var i18n_utils_msg_format = '${i18nMap["admin.js.utils.msg.format"]}';
	var i18n_utils_msg_integer = '${i18nMap["admin.js.utils.msg.integer"]}';
	var i18n_utils_msg_lengthMustBe = '${i18nMap["admin.js.utils.msg.lengthMustBe"]}';
	var i18n_utils_msg_lettersNumbers = '${i18nMap["admin.js.utils.msg.lettersNumbers"]}';
	var i18n_utils_msg_notNull = '${i18nMap["admin.js.utils.msg.notNull"]}';
	var i18n_utils_msg_positiveInteger = '${i18nMap["admin.js.utils.msg.positiveInteger"]}';
	var i18n_utils_msg_start = '${i18nMap["admin.js.utils.msg.start"]}';
	
	var i18n_utils_msg_start_jfinali18n = '${_res["admin.js.utils.msg.start"]}';
</script>