<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="UTF-8" />
<title>JFinalUIBV4</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />

<!-- start: The fav icon -->
<link rel="icon" type="image/x-icon" href="${cxt!}/files/images/favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="${cxt!}/files/images/favicon.ico" />
<!-- end: The fav icon -->

<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap-fileupload.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/css/style.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/css/style-responsive.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/css/style-default.css" id="style_color" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" />

<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/fancybox/source/jquery.fancybox.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/uniform/css/uniform.default.css"/>

<!-- start: artdialog -->
<link rel="stylesheet" type="text/css" href="${cxt!}/jsfile/artdialog/css/ui-dialog.css" />
<!-- end: artdialog -->

<!-- start: ztree -->
<link rel="stylesheet" type="text/css" href="${cxt!}/jsfile/ztree/css/metroStyle/metroStyle.css">
<!-- end: ztree -->

<!-- start: common js -->
<script type="text/javascript">
	var cxt = "${cxt!}"; // 上下文基础路径
	var localePram = "${localePram!}"; // 用户选择的语言环境，或者默认展示的语言环境
</script>
<!-- end: common js -->

<% include("/platform/index/i18n.html"){} %>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">

	<% include("/platform/index/header.html"){} %>

	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">

		<% include("/platform/index/sidebar-scroll.html"){} %>

		<!-- BEGIN PAGE -->
		<div id="main-content">
			<% include("/platform/index/content.html"){} %>
		</div>
		<!-- END PAGE -->

	</div>
	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->
	<div id="footer">2016 &copy; JFinalUIBV4.</div>
	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS -->
	<!-- Load javascripts at bottom, this will reduce page load time /ui/metrolab/js/jquery-1.8.3.min.js-->
	<script type="text/javascript" src="${cxt!}/jsfile/jquery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/jquery/jquery.form.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/metrolab/js/jquery.nicescroll.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap/js/bootstrap.min.js"></script>

	<!-- ie8 fixes -->
	<!--[if lt IE 9]>
   	<script type="text/javascript" src="${cxt!}/ui/metrolab/js/excanvas.js"></script>
   	<script type="text/javascript" src="${cxt!}/ui/metrolab/js/respond.js"></script>
   	<![endif]-->

	<!--common script for all pages-->
	<script type="text/javascript" src="${cxt!}/ui/metrolab/js/common-scripts.js"></script>

	<!--script for this page only-->
	<script type="text/javascript" src="${cxt!}/ui/metrolab/js/home-page-calender.js"></script>

	<script type="text/javascript" src="${cxt!}/jsfile/metrolab/common/string.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/metrolab/common/ajax.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/metrolab/common/common.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/metrolab/common/splitPage.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/metrolab/common/verify.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/artdialog/dist/dialog-min.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/metrolab/common/modals.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/metrolab/common/windows.js"></script>
	
	<!-- ztree -->
	<script type="text/javascript" src="${cxt!}/jsfile/ztree/js/jquery.ztree.core.min.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/ztree/js/jquery.ztree.excheck.min.js"></script>
	<script type="text/javascript" src="${cxt!}/jsfile/ztree/js/jquery.ztree.exedit.min.js"></script>

	<!-- echarts -->
	<script type="text/javascript" src="${cxt!}/jsfile/echarts/echarts.min.js"></script>
	
	<!-- datetimepicker 
	<link rel="stylesheet" href="${cxt!}/ui/metrolab/assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" media="screen">
	<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	-->
	
	<!-- My97DatePicker -->
	<script type="text/javascript" src="${cxt!}/jsfile/my97datepicker/WdatePicker.js"></script>

	<!-- ueditor -->
    <script type="text/javascript" src="${cxt!}/jsfile/ueditor/ueditor.config.js" charset="utf-8"></script>
    <script type="text/javascript" src="${cxt!}/jsfile/ueditor/ueditor.all.min.js" charset="utf-8"> </script>
    <script type="text/javascript" src="${cxt!}/jsfile/ueditor/ueditor.parse.min.js" charset="utf-8"> </script>
    <script type="text/javascript" src="${cxt!}/jsfile/ueditor/lang/zh-cn/zh-cn.js" charset="utf-8"></script>

	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>