<form id="splitPage" action="${cxt!}/jf/platform/user" method="POST" class="form-horizontal">

	<!-- BEGIN PAGE CONTAINER-->
	<div class="container-fluid">

		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<ul class="breadcrumb">
					<li>
						<a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a>
						<span class="divider">/</span>
					</li>
					<li><a href="#">用户权限</a> <span class="divider">/</span></li>
					<li class="active">${i18nMap["admin.user.common.name"]}</li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- END PAGE HEADER-->

		<div class="row-fluid">
			<div class="span12">
				<div class="widget yellow">
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> ${i18nMap["admin.user.list.select"]}
						</h4>
						<span class="tools"> 
							<a class="icon-chevron-down" href="javascript:;"></a>
						</span>
					</div>
					<div class="widget-body form switch-form">
						${i18nMap["admin.user.property.userName"]} 
						<input class="medium" type="text" name="_query.userName" value='${escapeXml(paramMap["_query.userName"])}' maxlength="20">

						${i18nMap["admin.user.property.email"]} 
						<input class="medium" type="text" name="_query.email" value='${escapeXml(paramMap["_query.email"])}' maxlength="40">

						${i18nMap["admin.user.property.birthday"]} 
						<div class="controls input-append date form_datetime">
		                    <input type="text" name="_query.birthday" value='${escapeXml(paramMap["_query.birthday"])}' class="form-control date-picker" readonly>
		                    <span class="add-on"><i class="icon-remove"></i></span>
							<span class="add-on"><i class="icon-th"></i></span>
		                </div>

						<button type="button" class="btn btn-danger" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>${i18nMap["admin.common.select"]}</button>
						<button type="reset" class="btn btn-inverse">${i18nMap["admin.common.reset"]}</button>
					</div>
				</div>
			</div>
		</div>

		<!-- BEGIN ADVANCED TABLE widget-->
		<div class="row-fluid">
			<div class="span12">

				<!-- BEGIN EXAMPLE TABLE widget-->
				<div class="widget red">

					<% 
						var view = authUrl("/jf/platform/user/view"); 
						var edit = authUrl("/jf/platform/user/edit"); 
						var delete = authUrl("/jf/platform/user/delete"); 
						var group = authUrl("/jf/platform/group/select"); 
					%>

					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> ${i18nMap["admin.user.list.table"]}
						</h4>
					</div>

					<div class="widget-body">
						<span class="tools"> 
							<% if(authUrl("/platform/user/add.html")){ %>
							<button type="button" class="btn btn-small btn-warning" onclick="common_ajax.ajaxMainPanel('/jf/platform/user/toUrl?toUrl=/platform/user/add.html');">
								<i class="icon-plus icon-white"></i>
								${i18nMap["admin.user.add"]}
							</button> 
							<% } %> 
							
							<% if(delete == true){ %>
							<button type="button" class="btn btn-small btn-danger">
								<i class="icon-remove icon-white"></i>
								${i18nMap["admin.common.delete"]}
							</button> 
							<% } %>
						</span>

						<table class="table table-striped table-bordered" id="sample_1">
							<thead>
								<tr>
									<th style="width: 8px;">
										<input type="checkbox" class="group-checkable" name="checkAll" onchange="common_common.checkFunc('dataTable', this.checked);" class="flat-grey selectall">
									</th>
									<th class="hidden-phone" onclick="common_splitPage.orderbyFun('main-content', 'splitPage', 'd.names')">
										${i18nMap["admin.user.property.department"]}
										${orderBy("d.names")}
									</th>
									<th class="hidden-phone" onclick="common_splitPage.orderbyFun('main-content', 'splitPage', 'userName')">
										${i18nMap["admin.user.property.userName"]}
										${orderBy("userName")}
									</th>
									<th class="hidden-phone" onclick="common_splitPage.orderbyFun('main-content', 'splitPage', 'names')">
										${i18nMap["admin.user.property.nickname"]} 
										${orderBy("names")}
									</th>
									<th class="hidden-phone" onclick="common_splitPage.orderbyFun('main-content', 'splitPage', 'email')">
										${i18nMap["admin.user.property.email"]} 
										${orderBy("email")}
									</th>
									<th class="hidden-phone" onclick="common_splitPage.orderbyFun('main-content', 'splitPage', 'mobile')">
										${i18nMap["admin.user.property.mobilePhone"]}
										${orderBy("mobile")}
									</th>
									<th class="hidden-phone">${i18nMap["admin.common.operation"]}</th>
								</tr>
							</thead>
							<tbody>
								<% for(user in splitPage.list){ %>
								<tr class="odd gradeX">
									<td>
										<input type="checkbox" class="checkboxes" name="checkIds" value="${user.ids!}" class="flat-grey foocheck">
									</td>
									<td class="hidden-phone">${escapeXml(user.deptnames!) }</td>
									<td class="hidden-phone">${escapeXml(user["username"]!) }</td>
									<td class="hidden-phone">${escapeXml(user["names"]!) }</td>
									<td class="hidden-phone">${escapeXml(user["email"]!) }</td>
									<td class="hidden-phone">
										<span class="label label-success">${escapeXml(user["mobile"]!)}</span>
									</td>
									<td class="hidden-phone">
										<% if(view == true){ %>
											<button type="button" class="btn btn-small" onclick="common_ajax.ajaxMainPanel('/jf/platform/user/view/${user.ids!}');">
												<i class="icon-eye-open"></i> 
												${i18nMap["admin.common.see"]}
											</button> 
										<% } %> 
										
										<% if(edit == true){ %>
											<button type="button" class="btn btn-small btn-inverse" onclick="common_ajax.ajaxMainPanel('/jf/platform/user/edit/${user.ids!}');">
												<i class="icon-refresh icon-white"></i>
												${i18nMap["admin.common.edit"]}
											</button> 
										<% } %> 
										
										<% if(group == true){ %> 
											<button type="button" class="btn btn-small btn-success" onclick="common_modals.groupSelectDialog('${user.ids!}')">
												<i class="icon-ok icon-white"></i>
												${i18nMap["admin.user.list.table.group"]}
											</button> 
										<% } %> 
										
										<% if(delete == true){ %>
										<button type="button" class="btn btn-small btn-danger" data-bb="deleteOne" data-url="/jf/platform/user/delete/${user.ids!}">
											<i class="icon-remove icon-white"></i>
											${i18nMap["admin.common.delete"]}
										</button> 
										<% } %>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>

						<div id="splitPageDiv" class="pagination">
							<% include("/common/splitPage.html", {"divId" : "main-content", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
						</div>

					</div>
				</div>
				<!-- END EXAMPLE TABLE widget-->

			</div>
		</div>

		<!-- END ADVANCED TABLE widget-->
	</div>

</form>

<script type="text/javascript">
	jQuery(document).ready(function() {

	});
	
	$('.form_datetime').datetimepicker({
        language:  'zh-CN',
    	//format: 'yyyy-mm-dd hh:mm:ss',
    	format: 'yyyy-mm-dd',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>
