
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a> <span class="divider">/</span></li>
				<li><a href="#">用户权限</a> <span class="divider">/</span></li>
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/user/backOff');">用户管理</a> <span class="divider">/</span></li>
				<li class="active">${i18nMap["admin.user.update"]}</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->

	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN VALIDATION STATES-->
			<div class="widget red">
				<div class="widget-title">
					<h4>
						<i class=" icon-key"></i> ${i18nMap["admin.user.update"]}
					</h4>
				</div>
				<div class="widget-body form">

					<form id="editForm" action="${cxt!}/platform/user/update?csrfToken=${csrfToken!}" method="POST" class="form-horizontal" enctype="multipart/form-data">
						
						<input type="hidden" id="userIds" name="user.ids" value="${escapeHtml(user.ids!)}"> 
						<input type="hidden" name="user.version" value="${user.version!}"> 
						
						<input type="hidden" id="userInfoIds" name="userInfo.ids" value="${escapeHtml(userInfo.ids!)}"> 
						<input type="hidden" name="userInfo.version" value="${userInfo.version!}"> 
						
						<% include("/platform/user/form.html", {"operatorType" : "update"}){} %>

						<div class="control-group">
							<div class="controls">
								<% if(authUrl("/platform/user/update")){ %>
								<button type="button" class="btn btn-success" onclick="platform_user_form.submitValiFunc(this.form, false);">
									<i class="icon-ok icon-white"></i>${i18nMap["admin.common.submit"]}
								</button>
								<% } %>
							</div>
						</div>

					</form>

				</div>
			</div>
			<!-- END VALIDATION STATES-->
		</div>
	</div>

	<!-- END PAGE CONTAINER-->
</div>
