

<div class="form-group">
	<label class="col-sm-2 control-label">ip地址</label>
	<div class="col-sm-7">
		<input type="text" name="ipBlacklist.ip" value="${ipBlacklist.ip!}" 
			class="form-control" maxlength="200" vMin="10" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 10-200位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">到期解除时间</label>
	<div class="col-sm-7">
		<input type="text" name="ipBlacklist.expiresdate" readonly="readonly" 
			value='${ipBlacklist.expiresdate!, dateFormat="yyyy-MM-dd"}' 
  			data-date-format="yyyy-mm-dd" data-date-viewmode="years" class="form-control date-picker">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>  </span>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		common_form.init();
	});
</script>