

<script type="text/javascript">

function dataVali(form){
	var errorCount = formVali(form);
	if(errorCount != 0){
		var d = dialog({
		    title: '验证提示',
		    content: '有'+errorCount+'错误，请修正！'
		});
		d.showModal();
 		return false;
	}
	
	ajaxForm("content", "editForm");
}

</script>

<fieldset>
	<div class="control-group">
		<label class="control-label">${i18nMap["admin.role.property.name"]}</label>
		<div class="controls">
			<input type="text" name="role.names" value="${escapeXml(role.names!)}" 
				class="input-xlarge" maxlength="25" vMin="2" vType="length" onblur="onblurVali(this);">
			<span class="help-inline">2-10位任意字符</span>
		</div>
	</div>
</fieldset>