
<div class="form-group">
	<label class="col-sm-2 control-label">主键</label>
	<div class="col-sm-7">
		<input type="text" name="message.ids" value="message.ids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">乐观锁</label>
	<div class="col-sm-7">
		<input type="text" name="message.version" value="message.version" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">内容</label>
	<div class="col-sm-7">
		<input type="text" name="message.content" value="message.content" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">创建人</label>
	<div class="col-sm-7">
		<input type="text" name="message.createuser" value="message.createuser" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">创建时间</label>
	<div class="col-sm-7">
		<input type="text" name="message.createdate" value="message.createdate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">最后更新人</label>
	<div class="col-sm-7">
		<input type="text" name="message.updateuser" value="message.updateuser" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">最后更新时间</label>
	<div class="col-sm-7">
		<input type="text" name="message.updatedate" value="message.updatedate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">是否删除</label>
	<div class="col-sm-7">
		<input type="text" name="message.isdelete" value="message.isdelete" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">删除人</label>
	<div class="col-sm-7">
		<input type="text" name="message.deleteuser" value="message.deleteuser" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">删除时间</label>
	<div class="col-sm-7">
		<input type="text" name="message.deletedate" value="message.deletedate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">接收人</label>
	<div class="col-sm-7">
		<input type="text" name="message.receiveuser" value="message.receiveuser" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">接收时间</label>
	<div class="col-sm-7">
		<input type="text" name="message.receivedate" value="message.receivedate" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>

