<!-- start: BREADCRUMB -->
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">导航</a></li>
			<li class="active">默认主页</li>
		</ol>
	</div>
</div>
<!-- end: BREADCRUMB -->

<!-- start: PAGE CONTENT -->
<div class="row">
	
	<div class="col-md-6 col-lg-3 col-sm-6">
		<div class="panel panel-default panel-white core-box">
			<div class="panel-tools">
				<a href="#" class="btn btn-xs btn-link panel-close">
					<i class="fa fa-times"></i>
				</a>
			</div>
			<div class="panel-body no-padding">
				<div class="partition-green padding-20 text-center core-icon">
					<i class="fa fa-bar-chart-o fa-2x icon-big"></i>
				</div>
				<div class="padding-20 core-content">
					<h3 class="title block no-margin">SEO</h3>
					<span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
				</div>
			</div>
			<div class="panel-footer clearfix no-padding">
				<div class=""></div>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-green" data-toggle="tooltip" data-placement="top" title="More Options"><i class="fa fa-cog"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-blue" data-toggle="tooltip" data-placement="top" title="Add Content"><i class="fa fa-plus"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-red" data-toggle="tooltip" data-placement="top" title="View More"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-lg-3 col-sm-6">
		<div class="panel panel-default panel-white core-box">
			<div class="panel-tools">
				<a href="#" class="btn btn-xs btn-link panel-close">
					<i class="fa fa-times"></i>
				</a>
			</div>
			<div class="panel-body no-padding">
				<div class="partition-blue padding-20 text-center core-icon">
					<i class="fa fa-code fa-2x icon-big"></i>
				</div>
				<div class="padding-20 core-content">
					<h3 class="title block no-margin">Programming</h3>
					<span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
				</div>
			</div>
			<div class="panel-footer clearfix no-padding">
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-green" data-toggle="tooltip" data-placement="top" title="More Options"><i class="fa fa-cog"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-blue" data-toggle="tooltip" data-placement="top" title="Add Content"><i class="fa fa-plus"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-red" data-toggle="tooltip" data-placement="top" title="View More"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-lg-3 col-sm-6">
		<div class="panel panel-default panel-white core-box">
			<div class="panel-tools">
				<a href="#" class="btn btn-xs btn-link panel-close">
					<i class="fa fa-times"></i>
				</a>
			</div>
			<div class="panel-body no-padding">
				<div class="partition-red padding-20 text-center core-icon">
					<i class="fa fa-desktop fa-2x icon-big"></i>
				</div>
				<div class="padding-20 core-content">
					<h3 class="title block no-margin">Web design</h3>
					<span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
				</div>
			</div>
			<div class="panel-footer clearfix no-padding">
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-green" data-toggle="tooltip" data-placement="top" title="More Options"><i class="fa fa-cog"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-blue" data-toggle="tooltip" data-placement="top" title="Add Content"><i class="fa fa-plus"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-red" data-toggle="tooltip" data-placement="top" title="View More"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-lg-3 col-sm-6">
		<div class="panel panel-default panel-white core-box">
			<div class="panel-tools">
				<a href="#" class="btn btn-xs btn-link panel-close">
					<i class="fa fa-times"></i>
				</a>
			</div>
			<div class="panel-body no-padding">
				<div class="partition-azure padding-20 text-center core-icon">
					<i class="fa fa-shopping-cart fa-2x icon-big"></i>
				</div>
				<div class="padding-20 core-content">
					<h3 class="title block no-margin">Orders</h3>
					<span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
				</div>
			</div>
			<div class="panel-footer clearfix no-padding">
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-green" data-toggle="tooltip" data-placement="top" title="More Options"><i class="fa fa-cog"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-blue" data-toggle="tooltip" data-placement="top" title="Add Content"><i class="fa fa-plus"></i></a>
				<a href="#" class="col-xs-4 padding-10 text-center text-white tooltips partition-red" data-toggle="tooltip" data-placement="top" title="View More"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
	
</div>
<!-- end: PAGE CONTENT -->

<div class="row" id="lucene">
	<script type="text/javascript">
		common_ajax.ajaxDiv("lucene", "/jf/platform/test/lucene?pageSize=10&_query.searchKeyWords=刘德华"); // 处理在一个页显示多个分页，分页输出{"divId" : "aaaaa", "formId" : "splitPage1"}
	</script>
</div>

<div class="row" id="operator">
	<script type="text/javascript">
		common_ajax.ajaxDiv("operator", "/jf/platform/test/operator?pageSize=10"); // 处理在一个页显示多个分页，分页输出{"divId" : "aaaaa", "formId" : "splitPage1"}
	</script>
</div>

<div class="row" id="sysLog">
	<script type="text/javascript">
		common_ajax.ajaxDiv("sysLog", "/jf/platform/test/sysLog?pageSize=10"); // 处理在一个页显示多个分页，分页输出{"divId" : "bbbbb", "formId" : "splitPage2"}
	</script>
</div>
					
<script type="text/javascript" src="${cxt!}/jsFile/rapido/platform/index/context.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
		Context.init();
	});
</script>
