		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		
		<!-- start: common js -->
		<script type="text/javascript">
			var cxt = "${cxt!}";
		</script>	
		<!-- end: common js -->
	
		<!-- start: common -->
		<!--[if lt IE 9]>
		<script src="${cxt!}/ui/rapido/assets/plugins/respond.min.js"></script>
		<script src="${cxt!}/ui/rapido/assets/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jQuery/jquery-1.11.1.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jQuery/jquery-2.1.1.min.js"></script>
		<!--<![endif]-->
		<script type="text/javascript" src="${cxt!}/jsFile/jquery/jquery.form.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/rapido/common/string.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/rapido/common/ajax.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/rapido/common/common.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/rapido/common/splitPage.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/rapido/common/form.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/rapido/common/verify.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/rapido/common/modals.js"></script>
		<!-- end: common -->
	
		<!-- start: The fav icon -->
		<link rel="icon" href="${cxt!}/files/images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="${cxt!}/files/images/favicon.ico" type="image/x-icon" />
		<!-- end: The fav icon -->
		
		<!-- start: MAIN CSS -->
		<!-- <link href='http://fonts.useso.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'> -->
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/iCheck/skins/all.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/animate.css/animate.min.css">
		<!-- end: MAIN CSS -->
		
		<!-- start: CSS REQUIRED FOR SUBVIEW CONTENTS -->
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/owl-carousel/owl-carousel/owl.theme.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/owl-carousel/owl-carousel/owl.transitions.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/summernote/dist/summernote.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/toastr/toastr.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-select/bootstrap-select.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/DataTables/media/css/DT_bootstrap.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css">
		<!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
		
		<!-- start: CORE CSS -->
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/css/styles.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/css/styles-responsive.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/css/plugins.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/css/themes/theme-default.css" type="text/css" id="skin_color">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/css/print.css" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		
		<!-- start: index.html -->
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/weather-icons/css/weather-icons.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/nvd3/nv.d3.min.css">
		<!-- end: index.html -->
		
		<!-- start: form_elements.html -->
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/select2/select2.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/datepicker/css/datepicker.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css">
		<!-- end: form_elements.html -->
		
		<!-- start: ui_modals.html -->
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" type="text/css"/>
		<link rel="stylesheet" href="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" type="text/css"/>
		<!-- end: ui_modals.html -->