
		<!-- start: MAIN JAVASCRIPTS -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/iCheck/jquery.icheck.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootbox/bootbox.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery.scrollTo/jquery.scrollTo.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery.appear/jquery.appear.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/velocity/jquery.velocity.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/TouchSwipe/jquery.touchSwipe.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-mockjax/jquery.mockjax.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/toastr/toastr.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/truncate/jquery.truncate.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/summernote/dist/summernote.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/subview.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/subview-examples.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		
		<!-- start: CORE JAVASCRIPTS  -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/main.js"></script>
		<!-- end: CORE JAVASCRIPTS  -->
		
		<!-- start: index.html -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/lib/d3.v3.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/nv.d3.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/historicalBar.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/historicalBarChart.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/stackedArea.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/stackedAreaChart.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/index.js"></script>
		<!-- end: index.html -->
		
		<!-- start: table_data.html -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/select2/select2.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/table-data.js"></script>
		<!-- end: table_data.html -->
		
		<!-- start: form_elements.html -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/autosize/jquery.autosize.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/select2/select2.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-maskmoney/jquery.maskMoney.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpicker/js/commits.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/ckeditor/ckeditor.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/ckeditor/adapters/jquery.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/form-elements.js"></script>
		<!-- end: form_elements.html -->
		
		<!-- start: ui_modals.html -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/ui-modals.js"></script>
		<!-- end: ui_modals.html -->
		