			<div id="pageslide-right" class="pageslide slide-fixed inner">
				<div class="right-wrapper">
					<div class="notifications">
						<div class="pageslide-title">
							You have 11 notifications
						</div>
						<ul class="pageslide-list">
							<li>
								<a href="javascript:void(0)">
									<span class="label label-primary"><i class="fa fa-user"></i></span> <span class="message"> New user registration</span> <span class="time"> 1 min</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<span class="label label-success"><i class="fa fa-comment"></i></span> <span class="message"> New comment</span> <span class="time"> 7 min</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<span class="label label-success"><i class="fa fa-comment"></i></span> <span class="message"> New comment</span> <span class="time"> 8 min</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<span class="label label-success"><i class="fa fa-comment"></i></span> <span class="message"> New comment</span> <span class="time"> 16 min</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<span class="label label-primary"><i class="fa fa-user"></i></span> <span class="message"> New user registration</span> <span class="time"> 36 min</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<span class="label label-warning"><i class="fa fa-shopping-cart"></i></span> <span class="message"> 2 items sold</span> <span class="time"> 1 hour</span>
								</a>
							</li>
							<li class="warning">
								<a href="javascript:void(0)">
									<span class="label label-danger"><i class="fa fa-user"></i></span> <span class="message"> User deleted account</span> <span class="time"> 2 hour</span>
								</a>
							</li>
						</ul>
						<div class="view-all">
							<a href="javascript:void(0)">
								See all notifications <i class="fa fa-arrow-circle-o-right"></i>
							</a>
						</div>
					</div>
					<div class="hidden-xs" id="style_selector">
						<div id="style_selector_container">
							<div class="pageslide-title">
								Style Selector
							</div>
							<div class="box-title">
								Choose Your Layout Style
							</div>
							<div class="input-box">
								<div class="input">
									<select name="layout" class="form-control">
										<option value="default">Wide</option><option value="boxed">Boxed</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								Choose Your Header Style
							</div>
							<div class="input-box">
								<div class="input">
									<select name="header" class="form-control">
										<option value="fixed">Fixed</option><option value="default">Default</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								Choose Your Sidebar Style
							</div>
							<div class="input-box">
								<div class="input">
									<select name="sidebar" class="form-control">
										<option value="fixed">Fixed</option><option value="default">Default</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								Choose Your Footer Style
							</div>
							<div class="input-box">
								<div class="input">
									<select name="footer" class="form-control">
										<option value="default">Default</option><option value="fixed">Fixed</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								10 Predefined Color Schemes
							</div>
							<div class="images icons-color">
								<a href="#" id="default"><img src="${cxt!}/ui/rapido/assets/images/color-1.png" alt="" class="active"></a>
								<a href="#" id="style2"><img src="${cxt!}/ui/rapido/assets/images/color-2.png" alt=""></a>
								<a href="#" id="style3"><img src="${cxt!}/ui/rapido/assets/images/color-3.png" alt=""></a>
								<a href="#" id="style4"><img src="${cxt!}/ui/rapido/assets/images/color-4.png" alt=""></a>
								<a href="#" id="style5"><img src="${cxt!}/ui/rapido/assets/images/color-5.png" alt=""></a>
								<a href="#" id="style6"><img src="${cxt!}/ui/rapido/assets/images/color-6.png" alt=""></a>
								<a href="#" id="style7"><img src="${cxt!}/ui/rapido/assets/images/color-7.png" alt=""></a>
								<a href="#" id="style8"><img src="${cxt!}/ui/rapido/assets/images/color-8.png" alt=""></a>
								<a href="#" id="style9"><img src="${cxt!}/ui/rapido/assets/images/color-9.png" alt=""></a>
								<a href="#" id="style10"><img src="${cxt!}/ui/rapido/assets/images/color-10.png" alt=""></a>
							</div>
							<div class="box-title">
								Backgrounds for Boxed Version
							</div>
							<div class="images boxed-patterns">
								<a href="#" id="bg_style_1"><img src="${cxt!}/ui/rapido/assets/images/bg.png" alt=""></a>
								<a href="#" id="bg_style_2"><img src="${cxt!}/ui/rapido/assets/images/bg_2.png" alt=""></a>
								<a href="#" id="bg_style_3"><img src="${cxt!}/ui/rapido/assets/images/bg_3.png" alt=""></a>
								<a href="#" id="bg_style_4"><img src="${cxt!}/ui/rapido/assets/images/bg_4.png" alt=""></a>
								<a href="#" id="bg_style_5"><img src="${cxt!}/ui/rapido/assets/images/bg_5.png" alt=""></a>
							</div>
							<div class="style-options">
								<a href="#" class="clear_style">
									Clear Styles
								</a>
								<a href="#" class="save_style">
									Save Styles
								</a>
							</div>
						</div>
						<div class="style-toggle open"></div>
					</div>
				</div>
			</div>