		<!-- start: SLIDING BAR (SB) -->
		<div id="slidingbar-area">
			<div id="slidingbar">
				<div class="row">
					<!-- start: SLIDING BAR FIRST COLUMN -->
					<div class="col-md-4 col-sm-4">
						<h2>My Options</h2>
						<div class="row">
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-folder-open-o"></i>
									Projects <span class="badge badge-info partition-red"> 4 </span>
								</button>
							</div>
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-envelope-o"></i>
									Messages <span class="badge badge-info partition-red"> 23 </span>
								</button>
							</div>
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-calendar-o"></i>
									Calendar <span class="badge badge-info partition-blue"> 5 </span>
								</button>
							</div>
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-bell-o"></i>
									Notifications <span class="badge badge-info partition-red"> 9 </span>
								</button>
							</div>
						</div>
					</div>
					<!-- end: SLIDING BAR FIRST COLUMN -->
					<!-- start: SLIDING BAR SECOND COLUMN -->
					<div class="col-md-4 col-sm-4">
						<h2>My Recent Works</h2>
						<div class="blog-photo-stream margin-bottom-30">
							<ul class="list-unstyled">
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image01_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image02_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image03_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image04_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image05_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image06_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image07_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image08_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image09_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image10_th.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- end: SLIDING BAR SECOND COLUMN -->
					<!-- start: SLIDING BAR THIRD COLUMN -->
					<div class="col-md-4 col-sm-4">
						<h2>My Info</h2>
						<address class="margin-bottom-40">
							Peter Clark
							<br>
							12345 Street Name, City Name, United States
							<br>
							P: (641)-734-4763
							<br>
							Email:
							<a href="#">
								peter.clark@example.com
							</a>
						</address>
						<a class="btn btn-transparent-white" href="#">
							<i class="fa fa-pencil"></i> Edit
						</a>
					</div>
					<!-- end: SLIDING BAR THIRD COLUMN -->
				</div>
				<div class="row">
					<!-- start: SLIDING BAR TOGGLE BUTTON -->
					<div class="col-md-12 text-center">
						<a href="#" class="sb_toggle"><i class="fa fa-chevron-up"></i></a>
					</div>
					<!-- end: SLIDING BAR TOGGLE BUTTON -->
				</div>
			</div>
		</div>
		<!-- end: SLIDING BAR -->
		