						<div class="toolbar row" id="toolbarDiv">
							<div class="col-sm-6 hidden-xs">
								<div class="page-header">
									<h1>控制面板 <small>概况 &amp; 统计 </small></h1>
								</div>
							</div>
							
							<div class="col-sm-6 col-xs-12">
								<a href="#" class="back-subviews">
									<i class="fa fa-chevron-left"></i> 后退
								</a>
								<a href="#" class="close-subviews">
									<i class="fa fa-times"></i> 关闭
								</a>
								<div class="toolbar-tools pull-right">
									<!-- start: TOP NAVIGATION MENU -->
									<ul class="nav navbar-right">
										<!-- start: TO-DO DROPDOWN -->
										
										<li class="dropdown">
											<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
												<i class="fa fa-plus"></i> 子视图
												<div class="tooltip-notification hide">
													<div class="tooltip-notification-arrow"></div>
													<div class="tooltip-notification-inner">
														<div>
															<div class="semi-bold">
																HI THERE!
															</div>
															<div class="message">
																Try the Subview Live Experience
															</div>
														</div>
													</div>
												</div>
											</a>
											
											<ul class="dropdown-menu dropdown-light dropdown-subview">
												<li class="dropdown-header">
													笔记
												</li>
												<li>
													<a href="#newNote" class="new-note">
														<span class="fa-stack"> 
															<i class="fa fa-file-text-o fa-stack-1x fa-lg"></i> 
															<i class="fa fa-plus fa-stack-1x stack-right-bottom text-danger"></i> 
														</span> 
														添加编辑
													</a>
												</li>
												<li>
													<a href="#readNote" class="read-all-notes">
														<span class="fa-stack"> 
															<i class="fa fa-file-text-o fa-stack-1x fa-lg"></i> 
															<i class="fa fa-share fa-stack-1x stack-right-bottom text-danger"></i> 
														</span> 
														阅读所有笔记
													</a>
												</li>
												<li class="dropdown-header">
													日程安排
												</li>
												<li>
													<a href="#newEvent" class="new-event">
														<span class="fa-stack"> 
															<i class="fa fa-calendar-o fa-stack-1x fa-lg"></i> 
															<i class="fa fa-plus fa-stack-1x stack-right-bottom text-danger"></i> 
														</span> 
														添加事件
													</a>
												</li>
												<li>
													<a href="#showCalendar" class="show-calendar">
														<span class="fa-stack"> 
															<i class="fa fa-calendar-o fa-stack-1x fa-lg"></i> 
															<i class="fa fa-share fa-stack-1x stack-right-bottom text-danger"></i> 
														</span> 
														查看日历
													</a>
												</li>
												<li class="dropdown-header">
													贡献者
												</li>
												<li>
													<a href="#newContributor" class="new-contributor">
														<span class="fa-stack"> 
															<i class="fa fa-user fa-stack-1x fa-lg"></i> 
															<i class="fa fa-plus fa-stack-1x stack-right-bottom text-danger"></i> 
														</span> 
														添加贡献者
													</a>
												</li>
												<li>
													<a href="#showContributors" class="show-contributors">
														<span class="fa-stack"> 
															<i class="fa fa-user fa-stack-1x fa-lg"></i> 
															<i class="fa fa-share fa-stack-1x stack-right-bottom text-danger"></i> 
														</span> 
														查看所有贡献者
													</a>
												</li>
											</ul>
										</li>
										
										<li class="dropdown">
											<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
												<span class="messages-count badge badge-default hide">3</span> 
												<i class="fa fa-envelope"></i> 消息
											</a>
											<ul class="dropdown-menu dropdown-light dropdown-messages">
												<li>
													<span class="dropdown-header"> 您有9条消息</span>
												</li>
												<li>
													<div class="drop-down-wrapper ps-container">
														<ul>
															<li class="unread">
																<a href="javascript:;" class="unread">
																	<div class="clearfix">
																		<div class="thread-image">
																			<img src="${cxt!}/ui/rapido/assets/images/avatar-2.jpg" alt="">
																		</div>
																		<div class="thread-content">
																			<span class="author">Nicole Bell</span>
																			<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
																			<span class="time"> Just Now</span>
																		</div>
																	</div>
																</a>
															</li>
															<li>
																<a href="javascript:;" class="unread">
																	<div class="clearfix">
																		<div class="thread-image">
																			<img src="${cxt!}/ui/rapido/assets/images/avatar-3.jpg" alt="">
																		</div>
																		<div class="thread-content">
																			<span class="author">Steven Thompson</span>
																			<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
																			<span class="time">8 hrs</span>
																		</div>
																	</div>
																</a>
															</li>
															<li>
																<a href="javascript:;">
																	<div class="clearfix">
																		<div class="thread-image">
																			<img src="${cxt!}/ui/rapido/assets/images/avatar-5.jpg" alt="">
																		</div>
																		<div class="thread-content">
																			<span class="author">Kenneth Ross</span>
																			<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
																			<span class="time">14 hrs</span>
																		</div>
																	</div>
																</a>
															</li>
														</ul>
													</div>
												</li>
												<li class="view-all">
													<a href="pages_messages.html">
														查看所有
													</a>
												</li>
											</ul>
										</li>
										
										<li class="dropdown">
											<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
												<i class="fa fa-sliders"></i> 系统切换
											</a>
											
											<ul class="dropdown-menu dropdown-light dropdown-subview">
												<% for(systems in systemsList){ %>
													<li class="dropdown-header"><a href="${cxt!}/jf/platform/index?ids=${systems.ids!}">${escapeXml(systems.names!)}</a></li>
												<% } %>
											</ul>
										</li>
										
										<li class="dropdown">
											<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
												<i class="fa fa-eye"></i> ${i18nMap["admin.top.language"]}
											</a>
											
											<ul class="dropdown-menu dropdown-light dropdown-subview">
												<li class="dropdown-header"><a href="${cxt!}/jf/platform/index?localePram=zh_cn">${i18nMap["admin.top.language.zhcn"]}</a></li>
												<li class="dropdown-header"><a href="${cxt!}/jf/platform/index?localePram=en_us">${i18nMap["admin.top.language.enus"]}</a></li>
												<li class="dropdown-header"><a href="${cxt!}/jf/platform/index?localePram=zh_tw">${i18nMap["admin.top.language.zhtw"]}</a></li>
												<li class="dropdown-header"><a href="${cxt!}/jf/platform/index?localePram=zh_hk">${i18nMap["admin.top.language.zhhk"]}</a></li>
												<li class="dropdown-header"><a href="${cxt!}/jf/platform/index?localePram=ja">${i18nMap["admin.top.language.ja"]}</a></li>
											</ul>
										</li>
										
										<li class="menu-search">
											<a href="#">
												<i class="fa fa-search"></i> ${i18nMap["admin.top.search"]}
											</a>
											<!-- start: SEARCH POPOVER -->
											<div class="popover bottom search-box transition-all">
												<div class="arrow"></div>
												<div class="popover-content">
													<!-- start: SEARCH FORM -->
													<form class="" id="searchform" action="#">
														<div class="input-group">
															<input type="text" class="form-control" placeholder="Search">
															<span class="input-group-btn">
																<button class="btn btn-main-color btn-squared" type="button">
																	<i class="fa fa-search"></i>
																</button> </span>
														</div>
													</form>
													<!-- end: SEARCH FORM -->
												</div>
											</div>
											<!-- end: SEARCH POPOVER -->
										</li>
										
									</ul>
									<!-- end: TOP NAVIGATION MENU -->
								</div>
							</div>
						</div>