
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">xxx</a></li>
			<li class="active">xxx</li>
		</ol>
	</div>
</div>
						
<form id="splitPage" role="form" class="form-horizontal" action="xxx" method="POST">
	
	<div class="row">
		<div class="col-md-12">
			<!-- start: BORDERED TABLE PANEL -->
			<div class="panel panel-white">
				
				<div class="panel-heading">
					<h4 class="panel-title"><span class="text-bold">xxx</span></h4>
					<div class="panel-tools">										
						xxx
					</div>
				</div>
				
				<div class="panel-body">		
				  	<div class="form-group">
						<label class="col-sm-2 control-label" for="focusedInput">ccc</label>
						<div class="col-sm-4">
					  		<input class="form-control focused" type="text" name="_query.ccc" value='>>该方法未注册(FUNCTION_NOT_FOUND):escapeXml 位于29行 资源:
<div clas...
26|			  	<div class="form-group">
27|						<label class="col-sm-2 control-label" for="focusedInput">ccc</label>
28|						<div class="col-sm-4">
29|					  		<input class="form-control focused" type="text" name="_query.ccc" value='${escapeXml(paramMap["_query.ccc"])}' maxlength="25" >
30|						</div>
31|						
