<script type="text/javascript">
	
	function addChecked(sNode){
		var index = sNode.selectedIndex;
		var option = sNode.options[index];
		option.selected = false;
		document.getElementById("checkedGroup").add(option);
		setGroup();
	}

	function delChecked(sNode){
		var index = sNode.selectedIndex;
		var option = sNode.options[index];
		option.selected = false;
		document.getElementById("allGroup").add(option);
		setGroup();
	}
	
	function setGroup(){
		var userIds = "${escapeXml(ids!)}";
		var groupIds = "";
		
		var checkedGroup = document.getElementById("checkedGroup");
		var length = checkedGroup.length;
		for (var i=0; i<length; i++){
			groupIds += checkedGroup.options[i].value + ",";
	    }

		var url = "/platform/user/setGroup";
		var data = { "ids" : userIds, "groupIds" : groupIds };

		var result = common_ajax.ajaxFunc(url, data);
	}
</script>

<div class="span3">
	<div class="panel-heading">
		<h4 class="panel-title">
			<i class="icon-user"></i> ${i18nMap["admin.group.select.noChecked"]}
		</h4>
	</div>
	<div class="panel-body">
		<select id="allGroup" ondblclick="addChecked(this);" multiple="multiple" size="5" style="height: 300px">
			<% for(group in noCheckedList){ %>
				<option value='${escapeXml(group.ids!)}'>${escapeXml(group.names!)}</option>
			<% } %>
	  	</select>
	</div>
</div>

<div class="span3">
	<div class="panel-heading">
		<h4 class="panel-title">
			<i class="icon-user"></i> ${i18nMap["admin.group.select.checked"]}
		</h4>
	</div>
	<div class="panel-body">
		<select id="checkedGroup" ondblclick="delChecked(this);" multiple="multiple" size="5" style="height: 300px">
			<% for(group in checkedList){ %>
				<option value='${escapeXml(group.ids!)}'>${escapeXml(group.names!)}</option>
			<% } %>
	  	</select>
	</div>
</div>
