<script type="text/javascript">
	$(document).ready(function() {
		var divId = "${divId!}"; 							//分页显示div
		var formId = "${formId!}"; 							//分页formId
		var splitPageDiv = "${splitPageDiv!}"; 				//分页输出显示的div
		
		var totalRow = ${splitPage.page.totalRow!};			//总行数
		var pageSize = ${splitPage.page.pageSize!};			//每页显示多少航 
		var pageNumber = ${splitPage.page.pageNumber!};		//当前第几页 
		var totalPages = ${splitPage.page.totalPage!};		//总页数 
		var isSelectPage = true;							// 是否显示第几页
		var isSelectSize = true;							// 是否显示每页显示多少条
		var orderColunm = "${splitPage.orderColunm!}"; 		//表格排序的列
		var orderMode = "${splitPage.orderMode!}";			//排序的方式
		
		// 获取分页HTML信息
		var splitStr = splitPageHtml(divId, formId, totalRow, pageSize, pageNumber, totalPages, isSelectPage, isSelectSize, orderColunm, orderMode);
		
		// 显示分页信息
		$("#" + splitPageDiv).html(splitStr);
	});
</script>