<script type="text/javascript">

function dataVali(form){
	var errorCount = formVali(form);
	if(errorCount != 0){
		var messageButton = $('#messageButtonId');
		messageButton.attr("data-noty-options", '{"text":"有'+errorCount+'错误，请修正！","layout":"bottom","type":"information","closeButton":"true"}');
		messageButton.click();
 		return false;
	}
	
	ajaxForm("editForm");
}

</script>

<fieldset>
	<div class="control-group">
		<label class="control-label">名称</label>
		<div class="controls">
			<input type="text" name="systems.names" value="${systems.names }" 
				class="input-xlarge" maxlength="25" vMin="2" vType="chinaLetterNumber" onblur="onblurVali(this);">
			<span class="help-inline">2-10位中文字母数字</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">编号</label>
		<div class="controls">
			<input type="text" name="systems.numbers" value="${systems.numbers }" 
				class="input-xlarge" maxlength="25" vMin="5" vType="letterNumber" onblur="onblurVali(this);">
			<span class="help-inline">5-16位字母数字</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">排序</label>
		<div class="controls">
			<input type="text" name="systems.orderids" value="${systems.orderids }" 
				class="input-xlarge" maxlength="10" vMin="1" vType="numberZ" onblur="onblurVali(this);">
			<span class="help-inline">2-10位中文字母数字</span>
		</div>
	</div>
</fieldset>