<div>
	<ul class="breadcrumb">
		<li><a href="#" onclick="ajaxContent('/jf/index/content');">主页</a> <span class="divider">/</span></li>
		<li><a href="#" onclick="ajaxContent('/jf/systems');">系统管理</a> <span class="divider">/</span></li>
		<li><a href="#">更新系统</a></li>
	</ul>
</div>

<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-edit"></i> 更新系统
			</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		
		<div class="box-content">
			<form class="form-horizontal" id="editForm" action="${cxt!}/jf/systems/update" method="POST">
				<input type="hidden" name="systems.ids" value="${systems.ids!}" >
				<input type="hidden" name="systems.version" value="${systems.version! + 1}">
				<% include("/pingtai/systems/form.html"){} %>
				<div class="form-actions">
					<% if(hasPrivilegeUrl("/jf/systems/update")){ %>
						<button class="btn btn-primary" type="button" onclick="dataVali(this.form);">提交</button>
					<% } %>
					<button class="btn" onclick="ajaxContent('/jf/systems');">退出</button>
				</div>
			</form>
		</div>
	</div>
	<!--/span-->
</div>
<!--/row-->