<%
	var view = authUrl("/platform/param/view");
	var edit = authUrl("/platform/param/edit");
	var delete = authUrl("/platform/param/delete");
%>

<% for(param in list){ %>
   	<tr id="${param.ids!}" pId="${param.parentids!}" hasChild='${param.levels! != 4 ? "true" : "false"}'>
		<td>
			<% if(param.levels == 1){ %>
				<img alt="" src="${cxt!}/jsfile/ztree/css/zTreeStyle/img/diy/1_open.png">
			<% }else if(param.levels == 2){ %>
				<img alt="" src="${cxt!}/jsfile/ztree/css/zTreeStyle/img/diy/2.png">
			<% }else if(param.levels == 3){ %>
				<img alt="" src="${cxt!}/jsfile/ztree/css/zTreeStyle/img/diy/3.png">
			<% }else if(param.levels == 4){ %>
				<img alt="" src="${cxt!}/jsfile/ztree/css/zTreeStyle/img/diy/4.png">
			<% }else if(param.levels == 5){ %>
				<img alt="" src="${cxt!}/jsfile/ztree/css/zTreeStyle/img/diy/5.png">
			<% } %>
			<span controller='true'>${param.levels }${i18nMap["admin.param.common.level"]}</span>
		</td>
		<td>${param.names }</td>
		<td>${param.status == "1" ? i18nMap["admin.param.property.status.start"] : i18nMap["admin.param.property.status.stop"]}</td>
		<td>
			<% if(param.levels != 0){ %>
				<% if(view == true){ %>
					<a href='#' onclick='view("${param.ids!}")'>${i18nMap["admin.common.see"]}</a>&nbsp;&nbsp;
				<% } %>
				<% if(edit == true){ %>
					<a href='#' onclick='update("${param.ids!}")'>${i18nMap["admin.common.edit"]}</a>&nbsp;&nbsp;
				<% } %>
				<% if(delete == true){ %>
					<a href='#' onclick='deleteFunc("${param.ids!}")'>${i18nMap["admin.common.delete"]}</a>
				<% } %>
			<% } %>
		</td>
	</tr>
<% } %>