<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="UTF-8" />
<title>您所访问的页面没找到</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/css/style.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/css/style-responsive.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/css/style-default.css" rel="stylesheet" id="style_color" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-404">
	<div class="error-wrap error-wrap-404">
		<div class="metro big terques">
			<span> 哎呀! </span>
		</div>
		<div class="metro green">
			<span> 4 </span>
		</div>
		<div class="metro yellow">
			<span> 0 </span>
		</div>
		<div class="metro purple">
			<span> 4 </span>
		</div>
		<div class="metro double red">
			<span class="page-txt"> 您所访问的页面不存在 </span>
		</div>
		<div class="metro gray">
			<a href="${cxt!}/platform/index" class="home"><i class="icon-home"></i></a>
		</div>
	</div>
</body>
<!-- END BODY -->
</html>