package ${package};

import java.io.Serializable;

<% for(dataType in dataTypes){ %>
import ${dataType}; 
<% } %>

import com.jfinal.log.Log;

/**
 * ${colunmList[0].table_desc} DTO
 * @author 董华健
 */
public class ${className}Dto implements Serializable {

	private static final long serialVersionUID = 6761767368352810428L;

	private static final Log log = Log.getLog(${className}.class);
	
	<% for(colunm in colunmList){ %>
	private ${colunm.column_className} ${colunm.column_name};
	<% } %>

	<% for(colunm in colunmList){ %>
	public void set${colunm.column_name_upperCaseFirstOne}(${colunm.column_className} ${colunm.column_name}){
		this.${colunm.column_name} = ${colunm.column_name};
	}
	public ${colunm.column_className} get${colunm.column_name_upperCaseFirstOne}() {
		return ${colunm.column_name};
	}
	<% } %>
	
}
