<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="UTF-8" />
<title>服务器程序运行错误</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/css/style.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/css/style-responsive.css" rel="stylesheet" />
<link href="${cxt!}/ui/metrolab/css/style-default.css" rel="stylesheet" id="style_color" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-500">
	<div class="error-wrap">
		<h1>哎哟!</h1>
		<h2>看起来好像出了什么问题，服务器程序运行失败</h2>
		<div class="metro green">
			<span>5</span>
		</div>
		<div class="metro yellow">
			<span>0</span>
		</div>
		<div class="metro purple">
			<span>0</span>
		</div>
		<p>
			我们将尽快解决此问题. <a href="${cxt!}/platform/index"> 返回主页 </a>
		</p>
	</div>
</body>
<!-- END BODY -->
</html>