<script type="text/javascript">
	
	var setting = {
		async: {
			enable : true,
			url : '${cxt!}/platform/dept/treeData',
			autoParam : ["id=ids"],//, "name=n", "level=lv"
			//otherParam : {"otherParam" : "zTreeAsyncTest"},
			dataFilter : filter,
			type : "post"
		},
		view: {
			fontCss: getFont,
			expandSpeed:"",
			selectedMulti: false
		},
		check: {
			enable: true,
			chkStyle: "checkbox"
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			beforeAsync: beforeAsync,	//用于捕获异步加载之前的事件回调函数,zTree 根据返回值确定是否允许进行异步加载
			onAsyncSuccess: onAsyncSuccess,	//用于捕获异步加载出现异常错误的事件回调函数
			onAsyncError: onAsyncError,	//用于捕获异步加载正常结束的事件回调函数
			
			beforeCheck: beforeCheck,
			onCheck: onCheck
		}
	};

	//节点数据过滤
	var departmentIds = '${paramMap.ids!}';
	function filter(treeId, parentNode, childNodes) {
		if (!childNodes) {
			return null;
		}
		var childNode;
		var childNodeId;
		var childNodeName;
		var zTree = $.fn.zTree.getZTreeObj("zTreeContent");
		for (var i=0, l=childNodes.length; i<l; i++) {
			childNode = childNodes[i];
			childNodeId = childNode.id;
			childNodeName = childNode.name;
			childNode.name = childNodeName.replace(/\.n/g, '.');
			
			if(departmentIds != '' && departmentIds.indexOf(childNodeId + ',') != -1){
				zTree.checkNode(childNode, true, false, false);
			}
		}
		return childNodes;
	}
	
	//字体设置
	function getFont(treeId, node) {
		return node.font ? node.font : {};
	}

	////////////////////下面是处理展开//////////////////
	
	//用于捕获异步加载之前的事件回调函数,zTree 根据返回值确定是否允许进行异步加载
	function beforeAsync() {
		curAsyncCount++;
	}
	
	//用于捕获异步加载出现异常错误的事件回调函数
	function onAsyncSuccess(event, treeId, treeNode, msg) {
		curAsyncCount--;
		if (curStatus == "expand") {
			expandNodes(treeNode.children);
		} else if (curStatus == "async") {
			asyncNodes(treeNode.children);
		}

		if (curAsyncCount <= 0) {
			if (curStatus != "init" && curStatus != "") {
				//$("#demoMsg").text((curStatus == "expand") ? "全部展开完毕" : "后台异步加载完毕");
				asyncForAll = true;
			}
			curStatus = "";
		}
	}

	//用于捕获异步加载正常结束的事件回调函数
	function onAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
		curAsyncCount--;

		if (curAsyncCount <= 0) {
			curStatus = "";
			if (treeNode!=null) asyncForAll = true;
		}
	}
	
	var curStatus = "init", curAsyncCount = 0, asyncForAll = false, goAsync = false;
	function expandAll() {
		if (!check()) {
			return;
		}
		var zTree = $.fn.zTree.getZTreeObj("zTreeContent");
		if (asyncForAll) {
			//$("#demoMsg").text("已经异步加载完毕，使用 expandAll 方法");
			zTree.expandAll(true);
		} else {
			expandNodes(zTree.getNodes());
			if (!goAsync) {
				//$("#demoMsg").text("已经异步加载完毕，使用 expandAll 方法");
				curStatus = "";
			}
		}
	}
	
	function expandNodes(nodes) {
		if (!nodes) {
			return;
		}
		curStatus = "expand";
		var zTree = $.fn.zTree.getZTreeObj("zTreeContent");
		for (var i=0, l=nodes.length; i<l; i++) {
			zTree.expandNode(nodes[i], true, false, false);
			if (nodes[i].isParent && nodes[i].zAsync) {
				expandNodes(nodes[i].children);
			} else {
				goAsync = true;
			}
		}
	}

	function asyncAll() {
		if (!check()) {
			return;
		}
		var zTree = $.fn.zTree.getZTreeObj("zTreeContent");
		if (asyncForAll) {
			//$("#demoMsg").text("已经异步加载完毕，不再重新加载");
		} else {
			asyncNodes(zTree.getNodes());
			if (!goAsync) {
				//$("#demoMsg").text("已经异步加载完毕，不再重新加载");
				curStatus = "";
			}
		}
	}
	function asyncNodes(nodes) {
		if (!nodes) {
			return;
		}
		curStatus = "async";
		var zTree = $.fn.zTree.getZTreeObj("zTreeContent");
		for (var i=0, l=nodes.length; i<l; i++) {
			if (nodes[i].isParent && nodes[i].zAsync) {
				asyncNodes(nodes[i].children);
			} else {
				goAsync = true;
				zTree.reAsyncChildNodes(nodes[i], "refresh", true);
			}
		}
	}

	function reset() {
		if (!check()) {
			return;
		}
		asyncForAll = false;
		goAsync = false;
		//$("#demoMsg").text("");
		$.fn.zTree.init($("#zTreeContent"), setting);
	}

	function check() {
		if (curAsyncCount > 0) {
			//$("#demoMsg").text("正在进行异步加载，请等一会儿再点击...");
			return false;
		}
		return true;
	}

	//////////////////选中事件处理////////////////////
	
	var className = "dark", checkedNodeIds = "${paramMap.ids!}", checkedNodeName = "";
	
	function beforeCheck(treeId, treeNode) {
		className = (className === "dark" ? "":"dark");
		return (treeNode.doCheck !== false);
	}
	
	//处理上级节点
	function parentChecked(parentNode){
		if(parentNode == null) return;
		var childrenNodes = parentNode.children;
		var length = childrenNodes.length;
		var checkedCount = 0;
		for (var i=0; i<length; i++) {
			var treeNode = childrenNodes[i];
			var checked = treeNode.checked;
			if(checked){
				checkedCount += 1;
			}
		}
		
		if(length == checkedCount){
			var id = parentNode.id + ",";
			var name = parentNode.name + ",";
			if(checkedNodeIds.indexOf(id) == -1){
				checkedNodeIds += id;
				checkedNodeName += name;
			}else{
				checkedNodeIds = checkedNodeIds.replace(id, "");
				checkedNodeName = checkedNodeName.replace(name, "");
			}
			parentChecked(parentNode.getParentNode());
		}
	}
	
	//处理子节点
	function childrenCheck(nodes) {
		if (!nodes) {
			return;
		}
		var length = nodes.length;
		for (var i=0; i<length; i++) {
			var treeNode = nodes[i];
			var treeNodeId = treeNode.id;
			var id = treeNodeId + ",";
			var name = treeNode.name + ",";
			
			if(checkedNodeIds.indexOf(id) == -1){
				checkedNodeIds += id;
				checkedNodeName += name;
			}else{
				checkedNodeIds = checkedNodeIds.replace(id, "");
				checkedNodeName = checkedNodeName.replace(name, "");
			}
			
			childrenCheck(treeNode.children);
		}
	}
	
	function onCheck(e, treeId, treeNode) {
		var id = treeNode.id + ",";
		var name = treeNode.name + ",";
		if(checkedNodeIds.indexOf(id) == -1){
			checkedNodeIds += id;
			checkedNodeName += name;
		}else{
			checkedNodeIds = checkedNodeIds.replace(id, "");
			checkedNodeName = checkedNodeName.replace(name, "");
		}
		
		parentChecked(treeNode.getParentNode());
		childrenCheck(treeNode.children);
	}
	
	function setCheckValue(){
		if(checkedNodeIds != ""){
			checkedNodeIds = checkedNodeIds.substring(0, checkedNodeIds.length-1);
			checkedNodeName = checkedNodeName.substring(0, checkedNodeName.length-1);
		}
		$("#${paramMap.deptId!}").val(checkedNodeIds);
		$("#${paramMap.deptName!}").val(checkedNodeName);
	}
	
	//////////////////初始化////////////////////

	$(document).ready(function(){
		$.fn.zTree.init($("#zTreeContent"), setting);
		//$("#expandAllBtn").bind("click", expandAll);	//全部展开
		//$("#asyncAllBtn").bind("click", asyncAll);	//背后展开
		//$("#resetBtn").bind("click", reset);	//重置
	});

	setTimeout(function(){
		expandAll();
	}, 500);
</script>

<ul id="zTreeContent" class="ztree"></ul>
