		<!-- start: SLIDING BAR (SB) -->
		<div id="slidingbar-area">
			<div id="slidingbar">
				<div class="row">
					
					<!-- start: SLIDING BAR FIRST COLUMN -->
					<div class="col-md-4 col-sm-4">
						<h2>我的选项</h2>
						<div class="row">
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-folder-open-o"></i>
									项目 <span class="badge badge-info partition-red"> 4 </span>
								</button>
							</div>
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-envelope-o"></i>
									消息 <span class="badge badge-info partition-red"> 23 </span>
								</button>
							</div>
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-calendar-o"></i>
									日程表 <span class="badge badge-info partition-blue"> 5 </span>
								</button>
							</div>
							<div class="col-xs-6 col-lg-3">
								<button class="btn btn-icon btn-block space10">
									<i class="fa fa-bell-o"></i>
									通知 <span class="badge badge-info partition-red"> 9 </span>
								</button>
							</div>
						</div>
					</div>
					<!-- end: SLIDING BAR FIRST COLUMN -->
					
					<!-- start: SLIDING BAR SECOND COLUMN -->
					<div class="col-md-4 col-sm-4">
						<h2>我最近的工作</h2>
						<div class="blog-photo-stream margin-bottom-30">
							<ul class="list-unstyled">
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image01_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image02_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image03_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image04_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image05_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image06_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image07_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image08_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image09_th.jpg"></a>
								</li>
								<li>
									<a href="#"><img alt="" src="${cxt!}/ui/rapido/assets/images/image10_th.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- end: SLIDING BAR SECOND COLUMN -->
					
					<!-- start: SLIDING BAR THIRD COLUMN -->
					<div class="col-md-4 col-sm-4">
						<h2>我的信息</h2>
						<address class="margin-bottom-40">
							董华健
							<br>
							湖北省钟祥市
							<br>
							电话: 138-71558042
							<br>
							邮箱:
							<a href="#">
								dongcb678@163.com
							</a>
						</address>
						<a class="btn btn-transparent-white" href="#">
							<i class="fa fa-pencil"></i> 编辑
						</a>
					</div>
					<!-- end: SLIDING BAR THIRD COLUMN -->
				
				</div>
				
				<div class="row">
					<!-- start: SLIDING BAR TOGGLE BUTTON -->
					<div class="col-md-12 text-center">
						<a href="#" class="sb_toggle"><i class="fa fa-chevron-up"></i></a>
					</div>
					<!-- end: SLIDING BAR TOGGLE BUTTON -->
				</div>
				
			</div>
		</div>
		<!-- end: SLIDING BAR -->
		