<script type="text/javascript">

function dataVali(form){
	var errorCount = formVali(form);
	if(errorCount != 0){
		var messageButton = $('#messageButtonId');
		messageButton.attr("data-noty-options", '{"text":"有'+errorCount+'错误，请修正！","layout":"bottom","type":"information","closeButton":"true"}');
		messageButton.click();
 		return false;
	}
	
	ajaxForm("editForm");
}

</script>

<fieldset>
	<div class="control-group">
		<label class="control-label">上级分类</label>
		<div class="controls">
			<input type="hidden" id="parentId" name="dict.parentids" value="${escapeXml(dict.parentids!)}"/>
			<input type="text" id="parentName" value="${escapeXml(dict.parentnames!)}" 
				class="input-xlarge focused" readonly="readonly" maxlength="100" vMin="1" vType="length" onblur="onblurVali(this);">
			<button class="btn" type="button" onclick="dictRadioDiaLog('parentId', 'parentName', '${escapeXml(dict.parentids!)}');">选择</button>
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">名称</label>
		<div class="controls">
			<input type="text" name="dict.names" value="${escapeXml(dict.names!)}" 
				class="input-xlarge" maxlength="25" vMin="1" vType="chinaLetterNumber" onblur="onblurVali(this);">
			<span class="help-inline">1-10位中文字母数字</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">编号</label>
		<div class="controls">
			<input type="text" name="dict.numbers" value="${escapeXml(dict.numbers!)}" 
				class="input-xlarge" maxlength="50" vMin="5" vType="letterNumber" onblur="onblurVali(this);">
			<span class="help-inline">5-50位字母数字</span>
		</div>
	</div>
	
	<input type="hidden" name="dict.i18n" value='${paramMap["i18n"]}' >
				
	<% if(paramMap["i18n"] == "0"){ %>
	
	<div class="control-group">
		<label class="control-label">值</label>
		<div class="controls">
			<input type="text" name="dict.values" value="${escapeXml(dict.values!)}" 
				class="input-xlarge" maxlength="500" vMin="1" vType="length" onblur="onblurVali(this);">
			<span class="help-inline">1-500位任意字符</span>
		</div>
	</div>
	
	<% } else { %>
	
	<div class="control-group">
		<label class="control-label">值(en-US)</label>
		<div class="controls">
			<input type="text" name="dict.values_enus" value="${escapeXml(dict.values_enus!)}" 
				class="input-xlarge" maxlength="500" vMin="1" vType="length" onblur="onblurVali(this);">
			<span class="help-inline">1-500位任意字符</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">值(jp)</label>
		<div class="controls">
			<input type="text" name="dict.values_jp" value="${escapeXml(dict.values_jp!)}" 
				class="input-xlarge" maxlength="500" vMin="1" vType="length" onblur="onblurVali(this);">
			<span class="help-inline">1-500位任意字符</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">值(zh-CN)</label>
		<div class="controls">
			<input type="text" name="dict.values_zhcn" value="${escapeXml(dict.values_zhcn!)}" 
				class="input-xlarge" maxlength="500" vMin="1" vType="length" onblur="onblurVali(this);">
			<span class="help-inline">1-500位任意字符</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">值(zh-HK)</label>
		<div class="controls">
			<input type="text" name="dict.values_zhhk" value="${escapeXml(dict.values_zhhk!)}" 
				class="input-xlarge" maxlength="500" vMin="1" vType="length" onblur="onblurVali(this);">
			<span class="help-inline">1-500位任意字符</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">值(zh-TW)</label>
		<div class="controls">
			<input type="text" name="dict.values_zhtw" value="${escapeXml(dict.values_zhtw!)}" 
				class="input-xlarge" maxlength="500" vMin="1" vType="length" onblur="onblurVali(this);">
			<span class="help-inline">1-500位任意字符</span>
		</div>
	</div>
	
	<% } %>
	
	<div class="control-group">
		<label class="control-label">排序</label>
		<div class="controls">
			<input type="text" name="dict.orderids" value="${dict.orderids!}" 
				class="input-xlarge" maxlength="10" vMin="1" vType="numberZ" onblur="onblurVali(this);">
			<span class="help-inline">2-10位中文字母数字</span>
		</div>
	</div>
</fieldset>