<c:set var="edit" scope="page">
	<bu:hasPrivilegeBool url="/jf/dict/edit"/>
</c:set>
<c:set var="delete" scope="page">
	<bu:hasPrivilegeBool url="/jf/dict/delete"/>
</c:set>

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>字典树</title>
	<link rel="stylesheet" href="${cxt}/jsFile/treeTable/demo/style/demo.css" type="text/css">
	
	<script type="text/javascript">
		var cxt = "${cxt}";
	</script>
	
	<script type="text/javascript" src="${cxt}/jsFile/treeTable/script/jquery.js"></script>
    <script type="text/javascript" src="${cxt}/jsFile/treeTable/script/treeTable/jquery.treeTable.js"></script>
	
	<style type="text/css">
		table,td,th {  border: 1px solid #8DB9DB; padding:5px; border-collapse: collapse; font-size:14px; }
	</style>
	
	<script type="text/javascript">
		
		$(function(){
	        var option = {
	            theme:'vsStyle',
	            expandLevel : 1,
	            beforeExpand : function($treeTable, id) {
	                //判断id是否已经有了孩子节点，如果有了就不再加载，这样就可以起到缓存的作用
	                if ($('.' + id, $treeTable).length) { 
	                	return; 
	                }
	                
	                //这里的html可以是ajax请求
	                $.post("${cxt}/jf/dict/treeTable", { ids: id }, function(data){ 
	                	if(data.indexOf("tr") != -1){
	                		$treeTable.addChilds(data);
	                	}
	                }, "text");
	                
	            },
	            onSelect : function($treeTable, id) {
	                window.console && console.log('onSelect:' + id);
	            }
	        };
	        
	        option.theme = 'default';
	        $('#treeTable').treeTable(option);
	    });	
		
		function update(ids){
			var has = ${pageScope.edit};
			if(has){
				parent.window.ajaxUrl('/jf/dict/edit/' + ids);
			}else{
				alertMsg.error('没有操作权限！');
			}
		}
	
		function deleteFunc(ids){
			var has = ${pageScope.delete};
			if(has){
				parent.window.ajaxUrl('/jf/dict/delete/' + ids);
			}else{
				alertMsg.error('没有操作权限！');
			}
		}
		
	</script>
</head>
<body>

	<div id="page">
	    <table id="treeTable" style="width:100%">
            <tr>
                <td style="width:200px;"><span controller="true">层级</span></td>
                <td>名称</td>
           		<td>操作</td>
			</tr>
	        <c:forEach items="${list}" var="dict">
	        	<tr id="${dict.ids}" pId="${dict.parentids}" hasChild='${dict.levels != 4 ? "true" : "false"}'>
					<td>
						<img alt="" src="${cxt}/jsFile/zTree/css/zTreeStyle/img/diy/1_close.png">
						<span controller='true'>${dict.levels }级</span>
					</td>
					<td>${dict.names }</td>
					<td>
						<!-- 
						<a href='#' onclick='view("${dict.ids}")'>查看</a>&nbsp;&nbsp;
						<a href='#' onclick='update("${dict.ids}")'>修改</a>&nbsp;&nbsp;
						<a href='#' onclick='deleteFunc("${dict.ids}")'>删除</a>&nbsp;&nbsp;
						-->
					</td>
				</tr>
	        </c:forEach>
	    </table>
	</div>
		
</body>
</html>	
	
