<c:set var="edit" scope="page">
	<bu:hasPrivilegeBool url="/jf/dict/edit"/>
</c:set>
<c:set var="delete" scope="page">
	<bu:hasPrivilegeBool url="/jf/dict/delete"/>
</c:set>

<c:forEach items="${list}" var="dict">
   	<tr id="${dict.ids}" pId="${dict.parentids}" hasChild='${dict.levels != 4 ? "true" : "false"}'>
		<td>
			<c:choose>
				<c:when test='${dict.levels eq "1"}'><img alt="" src="${cxt}/jsFile/zTree/css/zTreeStyle/img/diy/1_open.png"></c:when>
				<c:when test='${dict.levels eq "2"}'><img alt="" src="${cxt}/jsFile/zTree/css/zTreeStyle/img/diy/2.png"></c:when>
				<c:when test='${dict.levels eq "3"}'><img alt="" src="${cxt}/jsFile/zTree/css/zTreeStyle/img/diy/3.png"></c:when>
			</c:choose>
			<span controller='true'>${dict.levels }级</span>
		</td>
		<td>${dict.names }</td>
		<td>
			<c:if test='${dict.levels != 0}'>
				<c:if test='${pageScope.edit eq "true"}'>
					<a href='#' onclick='update("${dict.ids}")'>修改</a>&nbsp;&nbsp;
				</c:if>
				<c:if test='${pageScope.delete eq "true"}'>
					<a href='#' onclick='deleteFunc("${dict.ids}")'>删除</a>
				</c:if>
			</c:if>
		</td>
	</tr>
</c:forEach>