<div class="pageContent">
	
	<div class="pageFormContent" layoutH="56">
		<p>
			<label>上级分类：</label>
			<span class="info">
				${dictTree.parent.names }
			</span>
		</p>
		<p>
			<label>名称：</label>
			<span class="info">
				${dictTree.names }
			</span>
		</p>
		<p>
			<label>排序：</label>
			<span class="info">
				${dictTree.orderIds }
			</span>
		</p>
		<p>
			<label>描述：</label>
			<span class="info">
			${dictTree.description }
			</span>
		</p>
	</div>
	
	<div class="formBar">
		<ul>
			<li>
				<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
			</li>
		</ul>
	</div>
		
</div>