
<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.parent"]}</label>
	<div class="controls">
		<input type="hidden" id="parentId" name="param.parentids" value="${escapeHtml(param.parentids!)}"/>
		<input type="text" id="parentName" value="${escapeHtml(param.parentnames!)}" 
			class="form-control focused" readonly="readonly" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		
		<span class="help-inline"> 
			<a href="javascript:void(0)" class="btn btn-primary" 
				onclick="common_modals.paramRadioDiaLog('parentId', 'parentName', '${escapeHtml(param.parentids!)}')">${i18nMap["admin.common.choice"]}</a>
		</span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.name"]}</label>
	<div class="controls">
		<input type="text" name="param.names" value="${escapeHtml(param.names!)}" 
			class="span8" maxlength="25" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-10位任意字符 ">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.number"]}</label>
	<div class="controls">
		<input type="text" name="param.numbers" value="${escapeHtml(param.numbers!)}" 
			class="span8" maxlength="50" vMin="5" vType="letterNumber" onblur="platform_verify.onblurVali(this);" placeholder="5-50位字母数字">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.status"]}</label>
	<div class="controls">
		<select name="param.status" class="combox">
			<option value="1" ${param.status! == "1" ? "selected='selected'":"" }>${i18nMap["admin.param.property.status.start"]}</option>
			<option value="0" ${param.status! == "0" ? "selected='selected'":"" }>${i18nMap["admin.param.property.status.stop"]}</option>
		</select>
		<span class="help-inline">   </span>
	</div>
</div>

<input type="hidden" name="param.i18n" value='${paramMap["i18n"]!}' >
			
<% if(paramMap["i18n"]! == "0" || param["i18n"]! == "0"){ %>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.value"]}</label>
	<div class="controls">
		<input type="text" name="param.val" value="${escapeHtml(param.val!)}" 
			class="span8" maxlength="500" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-500位任意字符">
		<span class="help-inline"></span>
	</div>
</div>

<% } else { %>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.value"]}<img src="${cxt!}/files/images/i18n/jp.gif" width="34" height="18"/></label>
	<div class="controls">
		<input type="text" name="param.val_ja" value="${escapeHtml(param.val_ja!)}" 
			class="span8" maxlength="500" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-500位任意字符">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.value"]}<img src="${cxt!}/files/images/i18n/us.gif" width="34" height="18"/></label>
	<div class="controls">
		<input type="text" name="param.val_enus" value="${escapeHtml(param.val_enus!)}" 
			class="span8" maxlength="500" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-500位任意字符">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.value"]}<img src="${cxt!}/files/images/i18n/cn.gif" width="34" height="18"/></label>
	<div class="controls">
		<input type="text" name="param.val_zhcn" value="${escapeHtml(param.val_zhcn!)}" 
			class="span8" maxlength="500" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-500位任意字符">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.value"]}<img src="${cxt!}/files/images/i18n/hk.gif" width="34" height="18"/></label>
	<div class="controls">
		<input type="text" name="param.val_zhhk" value="${escapeHtml(param.val_zhhk!)}" 
			class="span8" maxlength="500" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-500位任意字符">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.param.property.value"]}<img src="${cxt!}/files/images/i18n/tw.gif" width="34" height="18"/></label>
	<div class="controls">
		<input type="text" name="param.val_zhtw" value="${escapeHtml(param.val_zhtw!)}" 
			class="span8" maxlength="500" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-500位任意字符">
		<span class="help-inline"></span>
	</div>
</div>

<% } %>

<div class="control-group">
	<label class="control-label">${i18nMap["admin.common.order"]}</label>
	<div class="controls">
		<input type="text" name="param.orderids" value="${param.orderids!}" 
			class="span8" maxlength="10" vMin="1" vType="numberZ" onblur="platform_verify.onblurVali(this);" placeholder="2-10位任意字符">
		<span class="help-inline"></span>
	</div>
</div>
