
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">xxx</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/operator');">xxx</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					xxxx
				</div>
			</div>
			
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
					
					<div class="form-group">
						<label class="col-sm-2 control-label">主键</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.ids">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">乐观锁</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.version">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.name">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">链接地址</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.url">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">logo图片</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.logo">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">上传文件ids</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.uploadids">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">创建人</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.createuser">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">创建时间</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.createdate">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">最后修改人</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.updateuser">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">最后修改时间</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.updatedate">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">是否逻辑删除 : 0否，1是</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.isdelete">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">删除人</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.deleteuser">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">删除时间</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="link.deletedate">
						</div>
					</div>
					
				</form>
			</div>
		
		</div>
	</div>
</div>	
