<div>
	<ul class="breadcrumb">
		<li><a href="#" onclick="ajaxContent('/jf/index/content');">主页</a> <span class="divider">/</span></li>
		<li><a href="#" onclick="ajaxContent('/jf/sysLog');">日志管理</a> <span class="divider">/</span></li>
		<li><a href="#">查看日志</a></li>
	</ul>
</div>

<div class="row-fluid sortable">
	<div class="box span12">
		
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-edit"></i> 查看日志
			</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		
		<div class="box-content">
			<form class="form-horizontal" method="POST">
				<fieldset>
					<div class="control-group">
						<label class="control-label">操作名称</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.onames!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">操作url</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.ourl!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">客户端IP</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.ips!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">权限认证状态</label>
						<div class="controls">
							<input type="text" disabled="disabled" value='${sysLog.status! == "0" ? "失败" : "成功"}'>
						</div>
					</div>
					<% if(isEmpty(sysLog.cause)){ %>
						
					<% }else if(sysLog.cause == "0"){ %>
						<div class="control-group">
							<label class="control-label">失败原因</label>
							<div class="controls">
								<input type="text" disabled="disabled" value='没有权限'>
							</div>
						</div>
					<% }else if(sysLog.cause == "1"){ %>
						<div class="control-group">
							<label class="control-label">失败原因</label>
							<div class="controls">
								<input type="text" disabled="disabled" value='URL不存在'>
							</div>
						</div>
					<% }else if(sysLog.cause == "2"){ %>
						<div class="control-group">
							<label class="control-label">失败原因</label>
							<div class="controls">
								<input type="text" disabled="disabled" value='未登陆'>
							</div>
						</div>
					<% }else if(sysLog.cause == "3"){ %>
						<div class="control-group">
							<label class="control-label">失败原因</label>
							<div class="controls">
								<input type="text" disabled="disabled" value='业务代码异常'>
							</div>
						</div>
					<% } %>
					<div class="control-group">
						<label class="control-label">创建者</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.username!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">开始时间</label>
						<div class="controls">
							<input type="text" disabled="disabled" value='${sysLog.startdate!, dateFormat="yyyy-MM-dd HH:mm:ss:SSS"}'>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">结束时间</label>
						<div class="controls">
							<input type="text" disabled="disabled" value='${sysLog.enddate!, dateFormat="yyyy-MM-dd HH:mm:ss:SSS"}'>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">总耗时</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${sysLog.haoshi!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">action耗时</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${sysLog.actionhaoshi!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">视图耗时</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${sysLog.viewhaoshi!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">描述</label>
						<div class="controls">
							<textarea class="cleditor" rows="3">${escapeXml(sysLog.description!)}</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">method</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.method!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">X-Requested-With</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.xrequestedwith!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Host</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.host!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Accept-Language</label>
						<div class="controls">
							<textarea class="cleditor" rows="3">${escapeXml(sysLog.acceptlanguage!)}</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Accept-Encoding</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.acceptencoding!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Accept</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.accept!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Connection</label>
						<div class="controls">
							<input type="text" disabled="disabled" value="${escapeXml(sysLog.connection!)}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">完整请求路径</label>
						<div class="controls">
							<textarea class="cleditor" rows="3">${escapeXml(sysLog.requestpath!) }</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">User-Agent</label>
						<div class="controls">
							<textarea class="cleditor" rows="3">${escapeXml(sysLog.useragent!) }</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">referer</label>
						<div class="controls">
							<textarea class="cleditor" rows="3">${escapeXml(sysLog.referer!) }</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">cookie</label>
						<div class="controls">
							<textarea class="cleditor" rows="3">${escapeXml(sysLog.cookie!) }</textarea>
						</div>
					</div>
					<div class="form-actions">
						<button class="btn" onclick="ajaxContent('/jf/sysLog');">退出</button>
					</div>
				</fieldset>
			</form>

		</div>
	
	</div>
	<!--/span-->
</div>
<!--/row-->