
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">xxx</a></li>
			<li class="active">xxx</li>
		</ol>
	</div>
</div>
						
<form id="splitPage" role="form" class="form-horizontal" action="xxx" method="POST">
	
	<div class="row">
		<div class="col-md-12">
			<!-- start: BORDERED TABLE PANEL -->
			<div class="panel panel-white">
				
				<div class="panel-heading">
					<h4 class="panel-title"><span class="text-bold">xxx</span></h4>
					<div class="panel-tools">										
						xxx
					</div>
				</div>
				
				<div class="panel-body">		
				  	<div class="form-group">
						<label class="col-sm-2 control-label" for="focusedInput">ccc</label>
						<div class="col-sm-4">
					  		<input class="form-control focused" type="text" name="_query.ccc" value='${escapeXml(paramMap["_query.ccc"])}' maxlength="25" >
						</div>
						
						<label class="col-sm-2 control-label" for="focusedInput">ddd</label>
						<div class="col-sm-4">
					  		<input class="form-control focused" type="text" name="_query.ddd" value='${escapeXml(paramMap["_query.ddd"])}' maxlength="50" >
						</div>
				  	</div>
				  	
					<div class="form-group">
						<div class="col-sm-5 col-sm-offset-5">
							<button type="button" class="btn btn-primary" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>查询</button>
							<button type="reset" class="btn">清除</button>
						</div>
				  	</div>
				</div>
			
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<!-- start: BORDERED TABLE PANEL -->
			<div class="panel panel-white">
				
				<div class="panel-heading">
					<h4 class="panel-title">
						<span class="text-bold">xxx</span>
					</h4>
					<div class="panel-tools">										
						xxx
					</div>
				</div>
				
				
				
				<div class="panel-body">
					
					<div class="row">
						<div class="col-md-12 space20">
							
								<button type="button" class="btn btn-success add-row" onclick="common_ajax.ajaxMainPanel('/jf/platform/operator/toUrl?toUrl=/platform/operator/add.html');">
									添加 <i class="fa fa-plus"></i>
								</button>
							
								<button type="button" class="btn btn-red delete-row" data-bb="deleteList" data-url="/jf/platform/user/delete"> 
									删除 <i class="fa fa-trash-o"></i>
								</button>
							
						</div>
					</div>
					
					<table class="table table-bordered table-hover" id="dataTable">
						<thead>
							<tr>
								<th class="center hidden-xs" width="50">
									<input type="checkbox" name="checkAll" onchange="checkFunc('dataTable', this.checked);" class="flat-grey selectall"> 
								</th>
								<th class="hidden-xs" onclick="common_splitPage.orderbyFun('mainPanel', 'splitPage', 's.names')">
									xxx	xxx
								</th>
								
								<th class="hidden-xs">
									操作
								</th>
							</tr>
						</thead>
						<tbody>
							<% for(operator in splitPage.list){ %>
								<tr>
									<td class="center hidden-xs">
										<input type="checkbox" name="checkIds" value="${user.ids!}" class="flat-grey foocheck">
									</td>
									<td>xxx</td>
									
									<td class="hidden-xs">
										
											<button type="button" class="btn btn-dark-yellow add-row" onclick="common_ajax.ajaxMainPanel('/jf/platform/operator/view/xxx');">
												查看 <i class="fa fa-eye"></i>
											</button>
										
											<button type="button" class="btn btn-green edit-row" onclick="common_ajax.ajaxMainPanel('/jf/platform/operator/edit/xxx');"> 
												编辑 <i class="fa fa-edit"></i>
											</button>
										
											<button type="button" class="btn btn-red delete-row" data-bb="deleteOne" data-url="/jf/platform/operator/delete/xxx"> 
												删除 <i class="fa fa-trash-o"></i>
											</button>
										
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
					
					<div class="row" id="splitPageDiv">
						
					</div>
					
				</div>
			
			</div>
			<!-- end: BORDERED TABLE PANEL -->
		</div>
	</div>
	
</form>			

<script type="text/javascript">
	jQuery(document).ready(function() {
		common_form.init();
	});
</script>
