<div>
	<ul class="breadcrumb">
		<li><a href="#" onclick="ajaxContent('/jf/wx/index/content');">主页</a></li>
	</ul>
</div>

<div class="sortable row-fluid">
	<a data-rel="tooltip" class="well span3 top-block" href="#"> <span class="icon32 icon-red icon-user"></span>
		<div>分组数</div>
		<div>507名</div> <span class="notification">6名</span>
	</a> 
	<a data-rel="tooltip" class="well span3 top-block" href="#"> <span class="icon32 icon-color icon-star-on"></span>
		<div>用户数</div>
		<div>228名</div> <span class="notification green">4名</span>
	</a> 
	<a data-rel="tooltip" class="well span3 top-block" href="#"> <span class="icon32 icon-color icon-envelope-closed"></span>
		<div>消息数</div>
		<div>25未读消息</div> <span class="notification red">12条</span>
	</a>
	<a data-rel="tooltip" class="well span3 top-block" href="#"> <span class="icon32 icon-color icon-cart"></span>
		<div>销售额</div>
		<div>13320元</div> <span class="notification yellow">34元</span>
	</a> 
</div>

<div class="row-fluid">
	<div class="box span12">
		<div class="box-header well">
			<h2>
				<i class="icon-info-sign"></i> 介绍
			</h2>
			<div class="box-icon">
				 <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a> <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<h1>
				微信公共平台 <small>基于JfinalUIB实现.</small>
			</h1>
			<div class="clearfix"></div>
		</div>
	</div>
</div>