
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">默认主页</a></li>
			<li class="active">用户管理</li>
		</ol>
	</div>
</div>
						
<form id="splitPage" class="form-horizontal" action="${cxt!}/jf/platform/user" method="POST">
	
	<div class="row">
		<div class="col-md-12">
			<!-- start: BORDERED TABLE PANEL -->
			<div class="panel panel-white">
				
				<div class="panel-heading">
					<h4 class="panel-title"><span class="text-bold">${i18nMap["admin.user.list.select"]}</span></h4>
					<div class="panel-tools">										
						<div class="dropdown">
							<a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
								<i class="fa fa-cog"></i>
							</a>
							<ul class="dropdown-menu dropdown-light pull-right" role="menu">
								<li>
									<a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>折叠</span> </a>
								</li>
								<li>
									<a class="panel-refresh" href="#"> <i class="fa fa-refresh"></i> <span>刷新</span> </a>
								</li>
								<li>
									<a class="panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> <span>配置</span></a>
								</li>
								<li>
									<a class="panel-expand" href="#"> <i class="fa fa-expand"></i> <span>全屏</span></a>
								</li>										
							</ul>
						</div>
						<a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
					</div>
				</div>
				
				<div class="panel-body">			
					<div class="form-group">
						<label class="col-sm-2 control-label">${i18nMap["admin.user.property.userName"]}</label>
						<div class="col-sm-4">
					  		<input class="form-control focused" type="text" name="_query.userName" value='${escapeXml(paramMap["_query.userName"])}' maxlength="20" >
						</div>
						
						<label class="col-sm-2 control-label">${i18nMap["admin.user.property.email"]}</label>
						<div class="col-sm-4">
					  		<input class="form-control" type="text" name="_query.email" value='${escapeXml(paramMap["_query.email"])}' maxlength="40" >
						</div>
				  	</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">${i18nMap["admin.user.property.birthday"]}</label>
						<div class="col-sm-4 input-group">
					  		<input type="text" name="_query.birthday" value='${escapeXml(paramMap["_query.birthday"])}'
					  			 data-date-format="yyyy-mm-dd" data-date-viewmode="years" class="form-control date-picker">
							<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
						</div>
				  	</div>
				  	
					<div class="form-group">
						<div class="col-sm-5 col-sm-offset-5">
							<button type="button" class="btn btn-primary" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>${i18nMap["admin.common.select"]}</button>
							<button type="reset" class="btn">${i18nMap["admin.common.reset"]}</button>
						</div>
				  	</div>
				</div>
			
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<!-- start: BORDERED TABLE PANEL -->
			<div class="panel panel-white">
				
				<div class="panel-heading">
					<h4 class="panel-title">
						<span class="text-bold">${i18nMap["admin.user.list.table"]}</span>
					</h4>
					<div class="panel-tools">										
						<div class="dropdown">
							<a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
								<i class="fa fa-cog"></i>
							</a>
							<ul class="dropdown-menu dropdown-light pull-right" role="menu">
								<li>
									<a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>折叠</span> </a>
								</li>
								<li>
									<a class="panel-refresh" href="#"> <i class="fa fa-refresh"></i> <span>刷新</span> </a>
								</li>
								<li>
									<a class="panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> <span>配置</span></a>
								</li>
								<li>
									<a class="panel-expand" href="#"> <i class="fa fa-expand"></i> <span>全屏</span></a>
								</li>										
							</ul>
						</div>
						<a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
					</div>
				</div>
				
				<%
					var view = hasPrivilegeUrl("/jf/platform/user/view");
					var edit = hasPrivilegeUrl("/jf/platform/user/edit");
					var delete = hasPrivilegeUrl("/jf/platform/user/delete");
					var group = hasPrivilegeUrl("/jf/platform/group/select");
				%>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 space20">
							<% if(hasPrivilegeUrl("/platform/user/add.html")){ %>
								<button type="button" class="btn btn-success add-row" onclick="ajaxMainPanel('/jf/platform/user/toUrl?toUrl=/platform/user/add.html');">
									${i18nMap["admin.user.add"]} <i class="fa fa-plus"></i>
								</button>
							<% } %>	
							
							<% if(delete == true){ %>
								<button type="button" class="btn btn-red delete-row" data-bb="deleteList" data-url="/jf/platform/user/delete"> 
									${i18nMap["admin.common.delete"]} <i class="fa fa-trash-o"></i>
								</button>
							<% } %>
						</div>
					</div>
					<table class="table table-bordered table-hover" id="dataTable">
						<thead>
							<tr>
								<th class="center hidden-xs" width="50">
									<input type="checkbox" name="checkAll" onchange="checkFunc('dataTable', this.checked);" class="flat-grey selectall"> 
								</th>
								<th class="hidden-xs" onclick="orderbyFun('content', 'splitPage', 'd.names')">
									${i18nMap["admin.user.property.department"]}	${orderBy("d.names")}
		      					</th>
								<th class="hidden-xs" onclick="orderbyFun('content', 'splitPage', 'userName')">
									${i18nMap["admin.user.property.userName"]}	${orderBy("userName")}
		      					</th>
								<th class="hidden-xs" onclick="orderbyFun('content', 'splitPage', 'names')">
									${i18nMap["admin.user.property.nickname"]}	${orderBy("names")}
								</th>
								<th class="hidden-xs" onclick="orderbyFun('content', 'splitPage', 'email')">
									${i18nMap["admin.user.property.email"]}	${orderBy("email")}
								</th>
								<th class="hidden-xs" onclick="orderbyFun('content', 'splitPage', 'mobile')">
									${i18nMap["admin.user.property.mobilePhone"]}	${orderBy("mobile")}
								</th>
								<th class="hidden-xs">
									${i18nMap["admin.common.operation"]}
								</th>
							</tr>
						</thead>
						<tbody>
							<% for(user in splitPage.list){ %>
								<tr>
									<td class="center hidden-xs">
										<input type="checkbox" name="checkIds" value="${user.ids!}" class="flat-grey foocheck">
									</td>
									<td class="hidden-xs">${escapeXml(user.deptnames!) }</td>
									<td class="hidden-xs">${escapeXml(user["username"]!) }</td>
									<td class="hidden-xs">${escapeXml(user["names"]!) }</td>
									<td class="hidden-xs">${escapeXml(user["email"]!) }</td>
									<td class="hidden-xs">
										<span class="label label-sm label-success">${escapeXml(user["mobile"]!) }</span>
									</td>
									<td class="hidden-xs">
										<% if(view == true){ %>
											<button class="btn btn-dark-yellow add-row" onclick="ajaxContent('/jf/platform/user/view/${user.ids!}');">
												${i18nMap["admin.common.see"]} <i class="fa fa-eye"></i>
											</button>
										<% } %>
										
										<% if(edit == true){ %>
											<button class="btn btn-green edit-row" onclick="ajaxContent('/jf/platform/user/edit/${user.ids!}');"> 
												${i18nMap["admin.common.edit"]} <i class="fa fa-edit"></i>
											</button>
										<% } %>
										
										<% if(group == true){ %>
											<button class="btn btn-purple add-row" onclick="groupSelectDialog('${user.ids!}');"> 
												${i18nMap["admin.user.list.table.group"]} <i class="fa fa-leaf"></i>
											</button>
										<% } %>
										
										<% if(delete == true){ %>
											<button class="btn btn-red delete-row" data-bb="deleteOne" data-url="/jf/platform/user/delete/${user.ids!}"> 
												${i18nMap["admin.common.delete"]} <i class="fa fa-trash-o"></i>
											</button>
										<% } %>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
					
					<div class="row" id="splitPageDiv">
						<% include("/common/splitPage.html", {"divId" : "content", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
					</div>
					
				</div>
			
			</div>
			<!-- end: BORDERED TABLE PANEL -->
		</div>
	</div>
	
</form>			

<script type="text/javascript">
	jQuery(document).ready(function() {
		common_form.init();
		Modals.init();
	});
</script>
