<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="JFinalUIB" version="3.0">
	
	<display-name>JfinalUIBV2</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Log4j在线查看 -->
	<servlet>  
    	<servlet-name>log4j</servlet-name>  
    	<servlet-class>com.platform.servlet.Log4j</servlet-class>
    	<async-supported>true</async-supported>
 	</servlet>
	<servlet-mapping>
		<servlet-name>log4j</servlet-name>
		<url-pattern>/se/log4j</url-pattern>
	</servlet-mapping>
	
	<!-- Druid 数据源查看 -->
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<init-param>
			<param-name>resetEnable</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	
	<!-- URL 缓存 -->
	<filter>
		<filter-name>pageCacheFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/ca/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<!-- JFinal -->
	<filter>
		<filter-name>JFinal</filter-name>
		<filter-class>com.jfinal.core.JFinalFilter</filter-class>
		<init-param>
			<param-name>configClass</param-name>
			<param-value>com.platform.run.JFinalConfig</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JFinal</filter-name>
		<url-pattern>/platform/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JFinal</filter-name>
		<url-pattern>/test/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<error-page>  
	 	<error-code>404</error-code>  
	 	<location>/ui/metroLab/404.html</location>  
	</error-page> 
	
	<error-page>  
	 	<error-code>500</error-code>
	 	<location>/ui/metroLab/500.html</location>  
	</error-page> 
</web-app>