
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">xxx</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/operator');">xxx</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					xxxx
				</div>
			</div>
			
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
					
					<div class="form-group">
						<label class="col-sm-2 control-label">主键</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.ids">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">乐观锁</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.version">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">分类</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.type">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">目标ids</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.targetids">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">创建人</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.createuser">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">创建时间</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.createdate">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">是否删除</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.isdelete">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">删除人</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.deleteuser">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">删除时间</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="praise.deletedate">
						</div>
					</div>
					
				</form>
			</div>
		
		</div>
	</div>
</div>	
