/* ---------------------------------------------------------------------- */
/*  Theme Default
/* ---------------------------------------------------------------------- */
body {
  background-color: #f7f8fa !important;
}
body.layout-boxed {
  background: url("../../images/bg_2.png") #f7f8fa;
}

.main-container, #pageslide-left, #pageslide-right {
  background-color: #f7f8fa !important;
}

.label-default, .badge-default {
  background: #323a45 !important;
}

.topbar {
  background: #bd2f31;
  background-color: #d34c4e 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d34c4e 0px), to(#bd2f31 100%));
  background-image: -webkit-linear-gradient(top, #d34c4e 0px, #bd2f31 100%);
  background-image: -moz-linear-gradient(top, #d34c4e 0px, #bd2f31 100%);
  background-image: -ms-linear-gradient(top, #d34c4e 0px, #bd2f31 100%);
  background-image: -o-linear-gradient(top, #d34c4e 0px, #bd2f31 100%);
  background-image: linear-gradient(top, #d34c4e 0px, #bd2f31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d34c4e 0px', endColorStr='#bd2f31 100%');
}
.topbar > .container .navbar-brand, .topbar .logo {
  color: white;
}
.topbar .topbar-tools > ul > li > a {
  color: white;
}
.topbar .topbar-tools > ul > li.right-menu-toggle > a {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bd2f31;
}
.topbar .nav li.dropdown.open > .dropdown-toggle, .topbar .nav li.dropdown.active > .dropdown-toggle, .topbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: white;
}
.topbar .nav > li:hover > a, .topbar .nav > li:active > a, .topbar .nav > li > a:focus {
  color: white;
  background: none;
}

ul.main-navigation-menu > li a {
  border-bottom: none;
  border-top-color: #e7eaf0;
  color: #181d27;
}
ul.main-navigation-menu > li a i {
  color: #b3b7be;
  font-weight: normal;
}
ul.main-navigation-menu > li.active > a {
  background: #e5e8ed !important;
  border-top: none !important;
  color: #2c2f3b;
}
ul.main-navigation-menu > li.active > a i {
  color: #2c2f3b;
}

ul.main-navigation-menu li > ul.sub-menu > li > a:hover {
  background: #e5e8ed;
}

ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li.open > a:hover, ul.main-navigation-menu li > ul.sub-menu > li.active > a:hover {
  background: #f1f3f6;
}

ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
  background-color: #f1f3f6;
}

ul.main-navigation-menu li.divider {
  background-color: #e7eaf0 !important;
}

ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
  background-color: #f1f3f6;
}

ul.main-navigation-menu li.dropdown-header, ul.main-navigation-menu .mega-menu-sub-title {
  color: #a1a8b7 !important;
}

ul.main-navigation-menu li.dropdown-header, ul.main-navigation-menu .mega-menu-sub-title {
  color: #a1a8b7 !important;
}

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a {
  color: #181d27 !important;
}
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a:hover {
  background: none !important;
}

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:hover, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:focus {
  background-color: #e5e8ed !important;
  text-decoration: none;
}

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li a:hover {
  background-color: #e5e8ed !important;
  text-decoration: none;
}

#horizontal-menu .container {
  background: #f7f8fa;
  border-bottom: 1px solid #e7eaf0;
}
#horizontal-menu .navbar-collapse .navbar-nav > li > a {
  color: #6a7ca2;
}
#horizontal-menu .navbar-collapse .navbar-nav > li > a:hover {
  color: #181d27;
  background: #e7eaf0;
}
#horizontal-menu .navbar-collapse .navbar-nav > li > a:active, #horizontal-menu .navbar-collapse .navbar-nav > li > a:focus {
  background: #d8dde6;
}
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a {
  color: white;
  background: #323a45;
}
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a:after {
  border-top-color: #323a45;
}

.main-content {
  background: #DDDDDD;
}

.go-top {
  color: #6a7ca2;
}

.footer-inner {
  color: #6a7ca2;
}

#pageslide-left .navigation-toggler .sb-toggle-left {
  background: url(../../images/dark_dots.png) no-repeat center center;
}
#pageslide-left .slide-tools {
  background-color: #e7eaf0;
}
#pageslide-left .btn {
  color: rgba(44, 47, 59, 0.3);
}
#pageslide-left .btn:hover {
  color: #2c2f3b;
  background-color: rgba(209, 215, 226, 0.4);
}
#pageslide-left .user-profile {
  border-color: #e7eaf0;
  position: relative;
}
#pageslide-left .user-profile h5 {
  color: #a1a8b7;
}
#pageslide-left .user-profile h4 {
  color: #2c2f3b;
}

.closedbar {
  background: #e7eaf0 url(../../images/dark_dots.png) no-repeat center 5px !important;
}
.closedbar:hover {
  background-color: #f7f8fa !important;
}

#pageslide-right .pageslide-title {
  color: rgba(44, 47, 59, 0.4);
}
#pageslide-right .notifications a {
  color: #6a7ca2;
  background: #e7eaf0;
}
#pageslide-right .notifications a:hover {
  background: #d8dde6;
}
#pageslide-right .notifications a .time {
  color: #acacac;
}

#style_selector_container .box-title {
  color: rgba(44, 47, 59, 0.8) !important;
}
#style_selector_container .images {
  border-bottom: 1px solid #e7eaf0;
}
#style_selector_container .images img.active {
  border: 2px solid #404c66;
}

footer {
  background-color: #f7f8fa;
}
